﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.ATM.DTO.CapacityDevelopmentActivityDto>
@{
    ViewBag.Title = "CDA List";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var pageDataJson = jss.Serialize(Model);
    var UPsJson = jss.Serialize(ViewBag.UPs);

}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/CapacityDevelopmentActivity/CDAList.js"></script>

<script>
    var pageData = JSON.parse('@Html.Raw(pageDataJson)');
    var ups = JSON.parse('@Html.Raw(UPsJson)');

    var up = '@ViewBag.UP'
    var searchString = '@ViewBag.SearchString'
</script>




<div class="panel-body rm" id="CDAList">
    <br />

    <div class="panel-body">
        <div class="container-fluid">
            @using (Ajax.BeginForm("CapacityDevelopmentActivityList", "CapacityDevelopmentActivity", null))
            {
                <div class="form-group row row_design">
                    <div class="col-sm-offset-1 col-sm-2">
                        <label class="control-label">Search By<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="searchString" class="form-control" @*data-bind="value:HouseHoldNo,valueUpdate: 'keyup'"*@ id="searchString" placeholder="Search by Event Name" value="@(ViewBag.SearchString ?? String.Empty)" />
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">UP<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3">
                        <select type="text" class="form-control" name="up" data-bind="options:UPs, value: UP, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>
                    </div>
                </div>


                <br />
                <div class="form-group row row_design">

                    <div class="col-sm-2 col-sm-offset-10">
                        <button type="submit" class="btn btn-deepgreen" @*data-bind="click:Search"*@ @*data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal"*@>Search</button>
                    </div>
                </div>
            }
        </div>




        <hr />
        <div class="panel">

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="headcolor">
                            <tr>

                                <th>Event Name</th>
                                <th>Event Type</th>
                                <th>Location</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody data-bind="foreach:PageData">
                            <tr>
                                <td class="center" data-bind="text:EventName"></td>
                                <td class="center" data-bind="text:EventTypeName"></td>
                                <td class="center" data-bind="text:LocationName"></td>
                                <td class="center">
                                    <button type="button" data-bind='click: $parent.Edit' title="Edit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pagination-centered">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("CapacityDevelopmentActivityList",
                                                        new
                                                        {
                                                            page,
                                                            sortOrder = ViewBag.CurrentSort,
                                                            searchString = ViewBag.SearchString,
                                                            up = ViewBag.UP,
                                                            currentFilter = ViewBag.CurrentFilter
                                                        }))


                </div>
            </div>
        </div>
    </div>
</div>
