﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.ATM.DTO.AgriculturalLandInfoDto>
@{
    ViewBag.Title = "All Agricultural Lands";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var pageDataJson = jss.Serialize(Model);
    var UPsJson = jss.Serialize(ViewBag.UPs);
    var WardsJson = jss.Serialize(ViewBag.Wards);
}

@*<h2>All Agricultural Lands</h2>*@
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/AgriculturalInfo/AgriculturalLandList.js"></script>



<script>
    var pageData = JSON.parse('@Html.Raw(pageDataJson)');
    var ups = JSON.parse('@Html.Raw(UPsJson)');
    var wards = JSON.parse('@Html.Raw(WardsJson)');
    var locationid = '@ViewBag.LocationId'
    var up = '@ViewBag.UP'
    
</script>




    <div class="panel-body rm">
        <div class="container-fluid" id="activeList">
            <div class="form-group row row_design">
                <div class="col-sm-2 col-sm-offset-10">
                    <button type="submit" class="btn btn-deepgreen" data-bind="click:AddNew">Add New</button>
                </div>
            </div>
            <br/>
            @using (Ajax.BeginForm("AllAgriculturalLands", "AgriculturalInfo", null))
            {


                <div class="form-group row row_design">
                    <div class="col-sm-2 col-sm-offset-1">
                        <label class="control-label">UP Name :</label>
                    </div>
                    <div class="col-sm-3">
                       
                            <select type="text" class="form-control" data-bind="options:UPs, value: UP, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>

                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">Ward Name :</label>
                    </div>
                    <div class="col-sm-3">
                      
                            <select type="text" class="form-control" data-bind="options:Wards, value:LocationID, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>

                    </div>

                </div>
                        <br />
                                <div class="form-group row row_design">

                                    <div class="col-sm-offset-10">
                                        <button type="submit" class="btn btn-deepgreen">Search</button>
                                    </div>
                                </div>
            }
            <hr class="horizontal">

            <div class="panel">
                <br />
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="headcolor">
                                <tr>
                                    <th>Crop Season</th>
                                    <th>Location</th>
                                    <th>Crop Name</th>
                                    <th>Production</th>
                                    <th>Is Affected Before</th>
                                    <th>Affected Year</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody data-bind="foreach:PageData">
                                <tr>
                                    <td class="center" data-bind="text: CropSeasonName"></td>
                                    <td class="center" data-bind="text: LocationName "></td>
                                    <td class="center" data-bind="text: CropName "></td>
                                    <td class="center" data-bind="text: Production "></td>
                                    <td class="center"><input type="checkbox" data-bind="checked: AffectedBefore,enable:false" /></td>
                                    <td class="center" data-bind="text: AffectedYear"></td>
                                    <td class="center">
                                        <button type="button" data-bind='click: $parent.Edit' title="Edit">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="pagination-centered">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("AllAgriculturalLands",
                                                        new
                                                        {
                                                            page,
                                                            sortOrder = ViewBag.CurrentSort,
                                                            up = ViewBag.UP,
                                                            locationid = ViewBag.LocationId

                                                        }))
                    </div>
                </div>
            </div>


        </div>



    </div>




