﻿
@{
    ViewBag.Title = "Location Hazard Mapping";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/AgriculturalInfo/HazardLocationMapping.js"></script>

<div class="panel-body rm" id="divHazard">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">UP<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: ParentLocationId">
                <select type="text" class="form-control" data-bind="options:ParentLocations, value:ParentLocationId, optionsCaption:'Select UP', optionsValue:'Id', optionsText: 'LocationName'"></select>
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Location <span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: LocationId">
                <select type="text" class="form-control" data-bind="options:Locations, value:LocationId, optionsCaption:'Select Ward', optionsValue:'Id', optionsText: 'LocationName'"></select>
            </div>

        </div>
        

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Hazard Name<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:Hazards, value:HazardId, optionsCaption:'Select Hazard', optionsValue:'Id', optionsText: 'Name'"></select>
            </div>
        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Start Month<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:Months, value:StartMonthId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'EnglishName'"></select>
            </div>
        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">End Month<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:Months, value:EndMonthId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'EnglishName'"></select>
            </div>
        </div>
        <br />
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Consequences<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-3 col-sm-1">
                            1
                        </div>
                        <div class="col-sm-1">
                            2
                        </div>
                        <div class="col-sm-1">
                            3
                        </div>
                        <div class="col-sm-1">
                            4
                        </div>
                        <div class="col-sm-1">
                            5
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Very Minor</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Consequence, value:1"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Consequence, value:2"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Consequence, value:3"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Consequence, value:4"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Consequence, value:5"></label>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Catastrophic</label>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Mapping?</p>
                        <button data-bind="click: SaveData" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Hazard Calendar </header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="headcolor">
                        <tr>
                            <th>Hazard Name</th>
                            <th>UP Name</th>
                            <th>Consequence</th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dec</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:Mappings">
                        <tr>
                            <td class="center" data-bind="text: HazardName"></td>
                            <td class="center" data-bind="text: LocationName"></td>
                            <td class="center" data-bind="text: Consequence"></td>
                            <td class="center" data-bind="css: January"></td>
                            <td class="center" data-bind="css: February"></td>
                            <td class="center" data-bind="css: March"></td>
                            <td class="center" data-bind="css: April"></td>
                            <td class="center" data-bind="css: May"></td>
                            <td class="center" data-bind="css: June"></td>
                            <td class="center" data-bind="css: July"></td>
                            <td class="center" data-bind="css: August"></td>
                            <td class="center" data-bind="css: September"></td>
                            <td class="center" data-bind="css: October"></td>
                            <td class="center" data-bind="css: November"></td>
                            <td class="center" data-bind="css: December"></td>
                            <td class="center">
                                <button type="button" title="Edit" data-bind='click: $parent.editData'>
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

