﻿
@{
    ViewBag.Title = "Use Of Waterbodies";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/AgriculturalInfo/LandUse.js"></script>

@*<h2>Use Of Waterbodies</h2>*@

<div class="panel-body rm" id="divLandUse">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Land Name<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-3" data-bind="validationElement: LandName">
                <input type="text" class="form-control" data-bind="value:LandName,valueUpdate: 'keyup'" placeholder="Type a Land Name" value="" />
            </div>
            <div class="col-sm-2">
                <label class="control-label">Land Type<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-3" data-bind="validationElement: LandTypeID">
                <select type="text" class="form-control" data-bind="options:LandTypes, value:LandTypeID, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'TypeName'"></select>
            </div>
        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">UP<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-3" data-bind="validationElement: ParentLocationId">
                <select type="text" class="form-control" data-bind="options:ParentLocations, value:ParentLocationId, optionsCaption:'Select UP', optionsValue:'Id', optionsText: 'LocationName'"></select>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Ward<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-3" data-bind="validationElement: LocationId">
                <select type="text" class="form-control" data-bind="options:Locations, value:LocationId, optionsCaption:'Select Ward', optionsValue:'Id', optionsText: 'LocationName'"></select>
            </div>
        </div>

        
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Is Any Changes :</label>
            </div>
            <div class="col-sm-3">
                <label class="radio-inline"><input type="radio"  data-bind="checked: IsAnyChange, value: true" /> Yes</label>
                <label class="radio-inline"><input type="radio"  data-bind="checked: IsAnyChange, value: false" /> No</label>
            </div>
            <div class="col-sm-2" data-bind="visible:IsAnyChange">
                <label class="control-label">Discription of Changes:</label>
            </div>
            <div class="col-sm-3" data-bind="visible:IsAnyChange">
                <textarea class="form-control" data-bind="value:Changes, valueUpdate: 'keyup'" placeholder="Description of the Changes"></textarea>
            </div>
        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Previously affected by any disaster ?</label>
            </div>
            <div class="col-sm-3">
                <label class="radio-inline"><input type="radio"  data-bind="checked: PreviouslyAffectedbyDisaster, value: true" /> Yes</label>
                <label class="radio-inline"><input type="radio"  data-bind="checked: PreviouslyAffectedbyDisaster, value:false" /> No</label>
            </div>
            <div class="col-sm-2" data-bind="visible:PreviouslyAffectedbyDisaster">
                <label class="control-label">Disaster Name :</label>
            </div>

            <div class="col-sm-3" data-bind="visible:PreviouslyAffectedbyDisaster">
                <select type="text" class="form-control" data-bind="options:Hazards, value:DisasterId, optionsCaption:'Select Disaster', optionsValue:'Id', optionsText: 'Name'"></select>

            </div>
        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Navigable ?</label>
            </div>
            <div class="col-sm-3">
                <label class="radio-inline"><input type="radio" data-bind="checked: IsNavigable, value: true" /> Yes</label>
                <label class="radio-inline"><input type="radio" data-bind="checked: IsNavigable, value:false" /> No</label>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Is anybody using this river by taking lease or grabbing :</label>
            </div>

            <div class="col-sm-3">
                <label class="radio-inline"><input type="radio" data-bind="checked: IsTackenByThirdParty, value: true" /> Yes</label>
                <label class="radio-inline"><input type="radio" data-bind="checked: IsTackenByThirdParty, value:false" /> No</label>
            </div>
        </div>

        <div class="form-group row row_design" data-bind="visible:IsRiver">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Any hazard created by this River ?</label>
            </div>
            <div class="col-sm-3">
                <label class="radio-inline"><input type="radio"  data-bind="checked: AnyHazardCreatedBy, value: true" /> Yes</label>
                <label class="radio-inline"><input type="radio"  data-bind="checked: AnyHazardCreatedBy, value:false" /> No</label>
            </div>
            <div class="col-sm-2" data-bind="visible:AnyHazardCreatedBy">
                <label class="control-label">By Which Hazard :</label>
            </div>
            
            <div class="col-sm-3" data-bind="visible:AnyHazardCreatedBy">
                <select type="text" class="form-control" data-bind="options:Hazards, value:CreatedHazardId, optionsCaption:'Select Hazard', optionsValue:'Id', optionsText: 'Name'"></select>
                
            </div>
        </div>

       

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label"> Present Use :</label>
            </div>
            <div class="col-sm-3" >
                <input type="text" class="form-control" data-bind="value:PresentUse,valueUpdate: 'keyup'" placeholder="Present Use" value="" />
            </div>
            <div class="col-sm-2">
                <label class="control-label">Is water available through out the year ?</label>
            </div>
            <div class="col-sm-3">
                <label class="radio-inline"><input type="radio" data-bind="checked: IsWaterAvailabeThroughOutYear, value: true" /> Yes</label>
                <label class="radio-inline"><input type="radio" data-bind="checked: IsWaterAvailabeThroughOutYear, value: false" /> No</label>
            </div>
        </div>

        

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-10">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Land Information?</p>
                        <button data-bind="click: SaveLandUse" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr />
        <div class="panel">
            <div class="panel-heading">
                <header>Land List</header>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="headcolor">
                            <tr>
                                <th>Land Name</th>
                                <th>Land Type</th>
                                <th>Location</th>
                                <th>Present Use</th>
                                <th>Is Water available</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:Lands">
                            <tr>
                                <td class="center" data-bind="text: LandName"></td>
                                <td class="center" data-bind="text: LandTypeName"></td>
                                <td class="center" data-bind="text: LocationName"></td>
                                <td class="center" data-bind="text: PresentUse"></td>
                                <td class="center" data-bind="text: IsWaterAvailabeThroughOutYear"></td>
                                <td class="center">
                                    <button type="button" data-bind='click: $parent.editData' title="Edit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

