﻿
@{
    ViewBag.Title = "DisastersAndClimateChange";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<div class="panel-body rm">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">UP Name<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6">
                <select type="text" class="form-control" value=""><option value="">..Select a UP Name..</option></select>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Location Name<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-6">
                <select type="text" class="form-control" value=""><option value="">..Select a Location Name..</option></select>


            </div>
        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </div>
    </div>


    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Labor and Employment</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>

                            <th>Employment</th>
                            <th>% of People Engaged</th>
                            <th>Vulnerabilities Narratives</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LeaveApplication">
                        <tr>

                            <td class="center"></td>
                            <td class="center"><input type="text" class="form-control" placeholder="% of People Engaged.." value="" /></td>
                            <td class="center"><input type="text" class="form-control" placeholder="Vulnerabilities Narratives.." value="" /></td>
                            <td class="center">
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                               
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group row row_design">
                <div class="col-sm-offset-2 col-sm-4">
                    <label class="control-label">Seasonal Labor Cost(Male & Female)<span class="required">*</span> :</label>
                </div>
                
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" name="optradio"> Male</label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" name="optradio"> Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
              

            </div>

            <div class="form-group row row_design">
                <div class="col-sm-offset-2 col-sm-4">
                    <label class="control-label">Non-Seasonal Labor Cost(Male & Female)<span class="required">*</span> :</label>
                </div>
               
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" name="optradio"> Male</label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" name="optradio"> Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
               

            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <header>Land and Land use vulnerabilities</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>

                            <th>Land</th>
                            <th>% or Area</th>
                            <th>Vulnerabilities</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LeaveApplication">
                        <tr>

                            <td class="center"></td>
                            <td class="center"><input type="text" class="form-control" placeholder="% of Area.." value="" /></td>
                            <td class="center"><input type="text" class="form-control" placeholder="Vulnerabilities.." value="" /></td>
                            <td class="center">
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <header>Food Production and Food Security Condition and its vulnerabilities</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>

                            <th>Crop, Fisheries and Livestock</th>
                            <th>Self sufficient in food production?</th>
                            <th>Exportable? If yes, %</th>
                            <th>Is there any production deficiency? %</th>
                            <th>Is there any risk due to disaster or climatic hazard</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LeaveApplication">
                        <tr>

                            <td class="center"></td>
                            <td class="center"><input type="text" class="form-control" placeholder="Self sufficient in food production?.." value="" /></td>
                            <td class="center"><input type="text" class="form-control" placeholder="Exportable? If yes, %.." value="" /></td>
                            <td class="center"><input type="text" class="form-control" placeholder="Is there any production deficiency? %.." value="" /></td>
                            <td class="center"><input type="text" class="form-control" placeholder="Is there any risk due to disaster or climatic hazard.." value="" /></td>
                            <td class="center">
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <header>Poverty</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>

                            <th>Pvoerty Situation</th>
                            <th>% of total population</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LeaveApplication">
                        <tr>

                            <td class="center"></td>
                            <td class="center"><input type="text" class="form-control" placeholder="% of total population.." value="" /></td>
                            <td class="center">
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

