﻿
@{
    ViewBag.Title = "LocalEconomyType";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<div class="panel-body rm">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Local Economy Type Name<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Type a Local Economy Type Name" value="" />
            </div>

        </div>
        <br />
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Status :</label>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> Active</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> Inactive</label>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="form-group row row_design">

                <div class="col-sm-2 col-sm-offset-9">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>


                <hr />
                <div class="panel">
                    <div class="panel-heading">
                        <header>Local Economy Type List</header>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                                <thead class="headcolor">
                                    <tr>

                                        <th>Local Economy Type Name</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach:LeaveApplication">
                                    <tr>

                                        <td class="center"></td>
                                        <td class="center"></td>
                                        <td class="center">
                                            <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="remove">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

