﻿
                /*CPV*/

.rm {
    /*background-color:#fffae1;
    border-radius: 0px 0px 0px 0px !important;*/
    
}

.btn-q {

    margin-bottom: 1px;
}

.headingOcc {
   
    padding-left: 100px;
}
.headingtbl {
    padding-left: 50px;
}
.radio-inline input[type="radio"] {
    margin-top: 2px;
}

.radio-frequent input[type="radio"] {
    margin-top: -7px;
}


            /*OfficeDesignationArea*/


.btn-success {
    margin-bottom: 0px !important;
}

.btn {
    padding: 2px 6px !important;
}

.row_design_cif {
    background-color: #ECEBEB !important;
    color: #1D5987 !important;
    
}

.row_design_cifr {
    /*background-color: #ECEBEB !important;
    color: #1D5987 !important;
    margin-bottom: 20px;*/
}

/*.col-sm-8 {
    width: 100% !important;    
    padding-top: 30px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}*/

.hr {
    height: 3px !important;
    border-top: 2px solid #eee !important;
    width: 91% !important;
   float: left;
}

body {
    font-size: 12px !important;
}

.table-responsive {
    font-size: 12px !important;
}
.form-control {
    font-size: 12px !important;
}
.ds-content {
   
    padding: 0px 0px 22px 0px;
}

.heading {

    text-align:center;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.ui-tabs .ui-tabs-panel {
    padding: 1em 1em !important;
} 

.input-group[class*="col-"] {
    
    padding-right: -1px !important;
    padding-left: -1px !important;
}

.container-fluid {
   /*padding-right: 0px !important;
    padding-left: 0px !important;*/ 
}
.section{}
.deg{

    border: 1px solid #C4C4C4; 
    border-radius:5px 5px 5px 5px;
    padding-top: 20px;
}

.rm{

    border: 1px solid #155da9; 
    border-radius:5px 5px 5px 5px;
    padding-top: 20px;
    background-color: #e1ecf7;
}

.drm{

    border: 1px solid #C4C4C4; 
    border-radius:5px 5px 5px 5px;
    padding-top: 20px;
}
.dpm{
     border: 1px solid #C4C4C4; 
    border-radius:5px 5px 5px 5px;
    padding-top: 20px;

}
.btn-default{
    /*background-color:green !important;
     border-color:green !important; 
     color:#fff !important;*/

} 
.btn-default:hover{
    /*background-color:green !important;
     border-color:green !important; 
     color:#fff !important;*/

} 

.close {
    font-size: 20px !important;
    color: #ff0000 !important;
    text-shadow: none !important;
    opacity: 4.5 !important;
    text-decoration: none !important;
}



            /*cif*/

/*.input-group_cif {
        padding-left: 1.5% !important;
}*/

.duplicateAlignment{
    text-align:left !important;

}

.lignHeightDate{
    line-height: normal !important;
}

.lineSpaceFactoryAddress{
    padding-left: 75%;    
}
.colTextFactory{
    font-weight:bold;    
}
.factoryAddressBorder{
    border-bottom:1px solid;
    padding-top:10px;
}
.leftAlignment {
    text-align: left !important;
}
.rightAlignment {
    text-align: right !important;
}

.centerAlignment {
    text-align: center !important;
}


/*.btnLarge{
    width:130px !important;
}*/


            /*CIB*/


.panel {
    border-radius: 4px;
}

.form-horizontal .radio-inline {
    padding-top: 0px;
}


             /*cifIncomeStatement*/


.form-horizontal .control-label {
    text-align: left !important;
}

/*.row_design_cifr {
    background-color: #ECEBEB !important;
    color: #1D5987 !important;
    margin-right: -5px;
    margin-left: -5px;
}*/

.row_design_cifr {
   background-color: #ECEBEB !important;
    color: #1D5987 !important;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 4px;
    text-align:center;
}

.row_design_cifNetworth {
    background-color: #ECEBEB !important;
    color: #1D5987 !important;
    margin-right: 0;
}

.row_design_valuation {
    background-color: #ECEBEB !important;
    color: #1D5987 !important;
    margin-right: 0;
}

.btn-default {
    /*background-color: green;
    border-color: green;
    color: #fff;*/
}

    .btn-default:hover {
        /*background-color: green;
        border-color: green;
        color: #fff;*/
    }

.container-fluid {
    padding-bottom: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.control-label {
    font-size: 13px !important;
    font-weight: normal !important;
}

.body {
    font-weight: normal !important;
}

.active {
    font-size: 12px !important;
}

.cifs {
    font-size: 12px;
    width: 193px !important;
    height: 22px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.tab-content {
    font-size: 12px;
}

.iframe {
    overflow: hidden;
}

.hasDatepicker {
    padding-left: 15px;
    padding-right: 15px;
}

.close {
    font-size: 20px !important;
    color: #ff0000 !important;
    text-shadow: none !important;
    opacity: 4.5 !important;
    text-decoration: none !important;
}



             /*application*/


.app {

        width: 230px;
        height: 22px;
        border-radius: 4px;
        
        border: 1px solid #ccc;

   }
.btn {
    /*margin-right: 3px !important;
    margin-left: 3px !important;*/
    /*float:left;*/
}
.appcl{
    text-align: center !important;
}
.minus {
    color:red !important;
}
.plus {
    color:green !important;
}
.dfon {
    font-weight:normal !important;
}
.centerfont {
    text-align:center !important;
    
}
.input-group_dapp {
    width:20px !important;
}
.loan {
        width: 226px;
        height: 22px;
        border-radius: 4px;
        
        border: 1px solid #ccc;

}
.form-control {
    width: 100% !important;
}

.close {
    font-size: 20px !important;
    color: #ff0000 !important;
    text-shadow: none !important;
    opacity: 4.5 !important;
    text-decoration: none !important;
}

.defaulter {
    width: 50px;
	height: 10px;
    margin:2px;
	background: red;
}
.warning {
    width: 50px;
	height: 10px;
    margin:2px;
	background: #ff6a00;
}
.safe {
    width: 50px;
	height: 10px;
    margin:2px;
	background: green;
}


                /*LayoutModification*/

.panel-heading {
     padding: 5px 8px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color:#145ca5;
    border-bottom: 1px solid #808080;
}

.numeric_position {

    text-align:right;
}

input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {
    line-height:normal !important;
}


/*tree*/

 .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
    }

    .tree li::before, .tree li::after {
        content: '';
        left: -20px;
        position: absolute;
        right: auto;
    }

    .tree li::before {
        border-left: 1px solid #999;
        bottom: 50px;
        height: 100%;
        top: 0;
        width: 1px;
    }

    .tree li::after {
        border-top: 1px solid #999;
        height: 20px;
        top: 25px;
        width: 25px;
    }

    .tree li span {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #999;
        border-radius: 5px;
        display: inline-block;
        padding: 3px 8px;
        text-decoration: none;
    }

    .tree li.parent_li > span {
        cursor: pointer;
    }
        
    .tree li.parent_li > ul > li > a {
        cursor: pointer;
    }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 30px;
    }

    .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000;
    }

.left-span {
float:left;
width:70%;
}
.right-span {
float:right;
width:30%;
}

.required {
    color:red;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #bbbbbb;
}

.table-margin {
    margin-bottom: 2px;
    margin-top: 2px;
}

.calendar {
    border:none !important;
    background:forestgreen;
    margin:5px !important;
    /*padding-bottom:5px !important;*/
    background-clip: padding-box;
}

.highcharts-credits {

    visibility:hidden !important;
}