﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.ATM.DTO.LocationDto>
@{
    ViewBag.Title = "All Locations";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var pageDataJson = jss.Serialize(Model);
    var UPsJson = jss.Serialize(ViewBag.UPs);
    var WardsJson = jss.Serialize(ViewBag.Wards);
}
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/Settings/LocationList.js"></script>


@*<h2>All Locations</h2>*@

<script>
    var pageData = JSON.parse('@Html.Raw(pageDataJson)');
    var ups = JSON.parse('@Html.Raw(UPsJson)');
    var wards = JSON.parse('@Html.Raw(WardsJson)');
    var locationid = '@ViewBag.LocationId'
    var up = '@ViewBag.UP'
    var searchString = '@ViewBag.SearchString'
</script>




    <div class="panel-body rm">
        <div class="container-fluid" id="activeList">


            <div class="form-group row row_design">

                <div class="col-sm-2 col-sm-offset-10">
                    <button type="submit" class="btn btn-deepgreen" data-bind="click:AddNew">Add New Location</button>
                </div>
            </div>
            <br/>

            @using (Ajax.BeginForm("AllLocations", "Settings", null))
            {
                <div class="form-group row row_design">
                    <div class="col-sm-offset-1 col-sm-2">
                        <label class="control-label">Name :</label>
                    </div>
                    <div class="col-sm-3" data-bind="validationElement: LocationName">
                        <input type="text" name="searchString" class="form-control" id="searchString" placeholder="Name" value="@(ViewBag.SearchString ?? String.Empty)">
                    </div>

                </div>

                                <div class="form-group row row_design">
                                    <div class="col-sm-2 col-sm-offset-1">
                                        <label class="control-label">UP Name :</label>
                                    </div>
                                    <div class="col-sm-3" data-bind="validationElement: UP">                                      
                                            <select type="text" name="up" class="form-control" data-bind="options:UPs, value: UP, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>

                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Ward Name :</label>
                                    </div>
                                    <div class="col-sm-3" data-bind="validationElement: LocationID">
                                           <select type="text" name="locationid" class="form-control" data-bind="options:Wards, value:LocationID, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>

                                    </div>

                                </div>
                                <br />
                                <div class="form-group row row_design">

                                    <div class="col-sm-2 col-sm-offset-10">
                                        <button type="submit" class="btn btn-deepgreen">Search</button>
                                    </div>
                                </div>
            }
            <hr class="horizontal">

            <div class="panel">
                <br />
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="headcolor">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Level</th>
                                    <th>Parent</th>
                                    <th>GO Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody data-bind="foreach:PageData">
                                <tr>
                                    <td class="center" data-bind="text:LocationName"></td>
                                    <td class="center" data-bind="text:LevelName"></td>
                                    <td class="center" data-bind="text:ParentName"></td>
                                    <td class="center" data-bind="text:Code"></td>
                                    <td class="center">
                                        <button type="button" data-bind='click: $parent.Edit' title="Edit">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="pagination-centered">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("AllLocations",
                                                        new
                                                        {
                                                            page,
                                                            sortOrder = ViewBag.CurrentSort,
                                                            searchString = ViewBag.SearchString,
                                                            up = ViewBag.UP,
                                                            locationid = ViewBag.LocationId,
                                                            currentFilter = ViewBag.CurrentFilter

                                                        }))
                    </div>
                </div>
            </div>



        </div>

    </div>



