﻿
@{
    ViewBag.Title = "CultivationSeason";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/Settings/CultivationSeason.js"></script>


<div class="panel-body rm" id="divCultivationSeason">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Season Name<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" @*data-bind="validationElement:SeasonName"*@>
                <input type="text" class="form-control" data-bind="value:SeasonName,valueUpdate: 'keyup'" placeholder="Type a Season Name" value="">
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Details :</label>
            </div>
            <div class="col-sm-6" @*data-bind="validationElement:Details"*@>
                <textarea type="text" class="form-control" data-bind="value:Details,valueUpdate: 'keyup'" placeholder="Type Season Details" value=""></textarea>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Start Month<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement:StartMonthId">
                <select type="text" class="form-control" data-bind="options:Months, value:StartMonthId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'EnglishName'"></select>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">End Month<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement:EndMonthId">
                <select type="text" class="form-control" data-bind="options:Months, value:EndMonthId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'EnglishName'"></select>
            </div>

        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>
    </div>

    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Cultivation Season List</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="headcolor">
                        <tr>
                            <th>Season Name</th>
                            <th>Details</th>
                            <th>Start Month</th>
                            <th>End Month</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:CultivationSeasons">
                        <tr>

                            <td class="center" data-bind="text:SeasonName"></td>
                            <td class="center" data-bind="text:Details"></td>
                            <td class="center" data-bind="text:StartMonthName"></td>
                            <td class="center" data-bind="text:EndMonthName"></td>

                            <td class="center">
                                <button type="button" data-bind='click: $parent.editCultivationSeason' title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Cultivation Season?</p>
                        <button data-bind="click: SaveCultivationSeason" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
