﻿
@{
    ViewBag.Title = "Element At Risk";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/Settings/ElementAtRisk.js"></script>

<div class="panel-body rm" id="divElement">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">UP Name<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: UPId">
                <select type="text" class="form-control" data-bind="options:Locations, value:UPId, optionsCaption:'Select UP', optionsValue:'Id', optionsText: 'LocationName'"></select>
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Element<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: ElementId">
                <select type="text" class="form-control" data-bind="options:Elements, value:ElementId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'Name'"></select>
            </div>

        </div>
        
        
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Hazard<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-6" data-bind="validationElement: HazardId">
                <select type="text" class="form-control" data-bind="options:Hazards, value:HazardId, optionsCaption:'Select One..', optionsValue:'Id', optionsText: 'Name'"></select>
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Exposure<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-6">
                <input type="text" class="form-control" data-bind="value:Exposure,valueUpdate: 'keyup'" placeholder="Exposure(%)" value="" />
            </div>

        </div>
        <br />
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-3">
                <label class="control-label">Likeli hood<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-3 col-sm-1">1</div>
                        <div class="col-sm-1">2</div>
                        <div class="col-sm-1">3</div>
                        <div class="col-sm-1">4</div>
                        <div class="col-sm-1">5</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Rare</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio"  data-bind="checked:Likelihood, value:1"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio"  data-bind="checked:Likelihood, value:2" ></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio"  data-bind="checked:Likelihood, value:3"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio"  data-bind="checked:Likelihood, value:4"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio"  data-bind="checked:Likelihood, value:5"></label>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Almost Certain</label>
                        </div>
                    </div>
                </div>
                <br />
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Consequences<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-6">
                <input type="text" class="form-control" data-bind="value:Consequences,valueUpdate: 'keyup'" placeholder="Consequences(%)" value="" />
            </div>

        </div>
        <br />
        
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Land Information?</p>
                        <button data-bind="click: SaveData" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Hazard Calendar </header>
        </div>
        <div class="panel-body">
            <div class="form-group row row_design">
                <div class="col-sm-offset-11 col-sm-1">
                    <button type="button" title="Print Report" target="_blank" data-bind="click:PrintResult">
                        <span class="glyphicon glyphicon-print"></span>
                    </button>

                </div>
            </div>
            <br />
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="headcolor">
                        <tr>
                            <th>UP Name</th>
                            <th>Element</th>
                            <th>Hazard</th>
                            <th>Exposure</th>
                            <th>Likelihood</th>
                            <th>Consequences</th>
                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:ElementList">
                        <tr>
                            <td class="center" data-bind="text: UPName"></td>
                            <td class="center" data-bind="text: ElementName"></td>
                            <td class="center" data-bind="text: HazardName"></td>
                            <td class="center" data-bind="text: Exposure"></td>
                            <td class="center" data-bind="text: Likelihood"></td>
                            <td class="center" data-bind="text: Consequences"></td>
                            
                            <td class="center">
                                <button type="button" title="Edit" data-bind='click: $parent.LoadData'>
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
