﻿
@{
    ViewBag.Title = "IndicatorType";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/Settings/IndicatorType.js"></script>

<div class="panel-body rm" id="divIndicator">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Group <span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:Groups, value:TypeGroup, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'Name'"></select>
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Type Name<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement:TypeName">
                <input type="text" class="form-control" data-bind="value:TypeName,valueUpdate: 'keyup'" placeholder="Type a Name" value="">
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Weight :</label>
            </div>

            <div class="col-sm-6" data-bind="validationElement:Weight">
                <input type="text" class="form-control" data-bind="value:Weight,valueUpdate: 'keyup'" placeholder="Type a weight">

            </div>
        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>
    </div>

    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>List of Indicator Types</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>
                            <th>Group</th>
                            <th>Type Name</th>
                            <th>Weight</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:Types">
                        <tr>
                            <td class="center" data-bind="text:GroupName"></td>
                            <td class="center" data-bind="text:TypeName"></td>
                            <td class="center" data-bind="text:Weight"></td>
                            <td class="center">
                                <button type="button" data-bind='click: $parent.editType' title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Indicator Type?</p>
                        <button data-bind="click: SaveIndicatorType" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

