﻿
@{
    ViewBag.Title = "IndictorEvaluations";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />


<div class="panel-body rm">
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
            <thead class="headcolor">
                <tr>
                    <th>Indicator</th>
                    <th>Field 1</th>
                    <th>Field 2</th>
                    <th>Field 3</th>
                    <th>Field 4</th>
                    <th>Field 5</th>
                    <th>Calculated Value</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:LeaveApplication">
                <tr>
                    <td class="center headcolor" style="font-weight:bold;">Indicator 1</td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>

                </tr>
            </tbody>
        </table>

    </div>
</div>
