﻿
@{
    ViewBag.Title = "LandType";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/Settings/LandType.js"></script>


<div class="panel-body rm" id="divLandType">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Land Type Name<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement:TypeName">
                <input type="text" class="form-control" data-bind="value:TypeName,valueUpdate: 'keyup'" placeholder="Type a Land Type Name" value="">
            </div>

        </div>
        <br/>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Is Water Body?<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement:IsWaterBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" data-bind="checked:IsWaterBody,value:true"> Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" data-bind="checked:IsWaterBody,value:false"> No</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>
    </div>

    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Land Type List</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="headcolor">
                        <tr>
                            <th>Land Type Name</th>
                            <th>Is Water Body?</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LandTypes">
                        <tr>

                            <td class="center" data-bind="text:TypeName"></td>
                            <td class="center" data-bind="text:IsWaterBody"></td>
                            <td class="center">
                                <button type="button" data-bind='click: $parent.editLandType' title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>

                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Land Type?</p>
                        <button data-bind="click: SaveLandType" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
