﻿
@{
    ViewBag.Title = "Location Setup";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/Settings/Location.js"></script>

<div class="panel-body rm" id="divLocation">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Location Name<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: LocationName">
                <input type="text" class="form-control" data-bind="value:LocationName,valueUpdate: 'keyup'" placeholder="Location Name" />
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Location Level<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: Locationlevels">
                <select type="text" class="form-control" data-bind="options:Locationlevels, value:Level, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'Name'"></select>
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Parent Location<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:Parents, value:ParentID, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Location Code<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: Code">
                <input type="text" class="form-control" data-bind="value:Code,valueUpdate: 'keyup'" placeholder="GO Code" value="" />
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Location Latitude <span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: Latitude">
                <input type="text" class="form-control" data-bind="value:Latitude,valueUpdate: 'keyup'" placeholder="Latitude" value="" />
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Location Longitude <span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: Longitude">
                <input type="text" class="form-control" data-bind="value:Longitude,valueUpdate: 'keyup'" placeholder="Longitude" value="" />
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Location Details <span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" data-bind="value:Details,valueUpdate: 'keyup'" placeholder="Details" value="" />
            </div>

        </div>
        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>

    </div>
  
    

    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Location?</p>
                        <button data-bind="click: SaveLocation" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

