﻿
@{
    ViewBag.Title = "Sensitivity";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<div class="panel-body rm">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-3">
                <label class="control-label">Element<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Type Existing Element Name" value="" />
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-3">
                <label class="control-label">Hazard<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Type Existing Hazard Name" />


            </div>
        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-3">
                <label class="control-label">Percentage of Sensitivity<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Type Existing Hazard Name" />


            </div>
        </div>
        <br/>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-3">
                <label class="control-label">Likelihood<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-3 col-sm-1">
                            1
                        </div>
                        <div class="col-sm-1">
                            2
                        </div>
                        <div class="col-sm-1">
                            3
                        </div>
                        <div class="col-sm-1">
                            4
                        </div>
                        <div class="col-sm-1">
                            5
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Lowest</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" name="optradio"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" name="optradio"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" name="optradio"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" name="optradio"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" name="optradio"></label>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Too Frequent</label>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>


    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Sensitivity List</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>

                            <th>Element</th>
                            <th>Hazard</th>
                            <th>Percentage of Sensitivity</th>
                            <th>Likelihood</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LeaveApplication">
                        <tr>

                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center">
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
