﻿
@{
    ViewBag.Title = "AdaptiveCapacity";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}


<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/HouseHold/HHAdaptiveCapacity.js"></script>


<div class="panel-body rm" id="divCapacity">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">HH No. :</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" data-bind="value:HouseHoldNo" readonly />
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Address :</label>
            </div>

            <div class="col-sm-6">
                <textarea type="text" class="form-control" data-bind="value:PotentialImpact" readonly></textarea>

            </div>
        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-9">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="headcolor">
                                <tr>
                                    <th>Indicator Title</th>
                                    <th>Weight</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:HHIndicatorScores">
                                <tr>
                                    <td class="center" data-bind="text: IndicatorTitle"></td>
                                    <td class="center" data-bind="text: Score"></td>
                                    <td class="center"><label class="radio-inline"><input type="radio" data-bind="checked:IsSelected,value:true"> Yes</label></td>
                                    <td class="center"><label class="radio-inline"><input type="radio" data-bind="checked:IsSelected,value:false"> No</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

       

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Save</button>
            </div>
        </div>
        <div class="form-group">
            <div id="successModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Response</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <p id="successModalText"></p>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <p>Do you want to add this Indicator?</p>
                            <button data-bind="click: saveAdaptiveCapacity" class="btn btn-success" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


