﻿
@{
    ViewBag.Title = "EnergyAndFarming";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<div class="panel-body rm">
    <br />
    <div class="container">
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Energy Source<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7">
                <label class="control-label"><input type="checkbox" value=""> PDB/RPDB</label><br/>
                <label class="control-label"><input type="checkbox" value=""> Generator</label><br />
                <label class="control-label"><input type="checkbox" value=""> Solar</label><br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-1" style="margin-left: -15px;">
                            <input type="checkbox" value="">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="Others.." value=""/>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Farming/Agriculture Type :</label>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin" @*style="margin-bottom: 2px;"*@>
                        <thead class="headcolor">
                            <tr>
                                <th style="font-weight:bold;"></th>
                                <th>Percentage %</th>
                               
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:LeaveApplication">
                            <tr>
                                <td class="center" style="font-weight:bold;">Subsistence/Domestic</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Commercial</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Others</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Livestock Activity :</label>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin" @*style="margin-bottom: 2px;"*@>
                        <thead class="headcolor">
                            <tr>
                                <th style="font-weight:bold;"></th>
                                <th>Estimated No</th>
                                
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:LeaveApplication">
                            <tr>
                                <td class="center" style="font-weight:bold;">Poultry</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Cow/Goat/Sheep</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Others</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Crop List :</label>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin" @*style="margin-bottom: 2px;"*@>
                        <thead class="headcolor">
                            <tr>
                                <th style="font-weight:bold;">SL No.</th>
                                <th>Crop Name</th>
                                <th>
                                    <a class="plus" href="#" @*data-bind="click: addTenures"*@>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </th>  
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:LeaveApplication">
                            <tr>
                                <td class="center" style="font-weight:bold;"></td>
                                <td class="center"></td>
                                <td>
                                    <a class="plus" href="#" @*data-bind="click: $parent.addTenures"*@><span class="glyphicon glyphicon-plus"></span></a>
                                    <a class="minus" href="#" @*data-bind="click: $parent.removeTenures"*@><span class="glyphicon glyphicon-minus"></span></a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Value of the Firm :</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Type a value" value="" />
            </div>

        </div>
        <br/>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Do you think climate changed overtime? :</label>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> No</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Changes you Noticed :</label>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control" placeholder="List down the changes"></textarea>
            </div>
        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Causes of the changes :</label>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control" placeholder="Causes According to you"></textarea>
            </div>
        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>


    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Energy And Farming List</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>
                            <th>Energy Source</th>
                            <th>Farming/Agriculture Type</th>
                            <th>Livestock Activity</th>
                            <th>Crop List</th>
                            <th>Value of the Firm</th>
                            <th>Do you think climate changed overtime?</th>
                            <th>Changes you Noticed</th>
                            <th>Causes of the changes</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LeaveApplication">
                        <tr>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center">
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
