﻿
@{
    ViewBag.Title = "HHExposure";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/HouseHold/HHExposureSensitivity.js"></script>

<div class="panel-body rm">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">HH No. :</label>
            </div>
            <div class="col-sm-6">
                <input type="text"  class="form-control" data-bind="value:HouseHoldNo" value="" readonly/>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Element Type :</label>
            </div>

            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:ElementTypes, value: ElementTypeId, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'TypeName'"></select>

            </div>
        </div>


        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Hazard :</label>
            </div>

            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:Hazards, value: HazardId, optionsCaption:'Choose One..', optionsValue:'HazardId', optionsText: 'HazardName'"></select>

            </div>
        </div>

        <br />
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Exposure :</label>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-4 col-sm-1">
                            1
                        </div>
                        <div class="col-sm-1">
                            2
                        </div>
                        <div class="col-sm-1">
                            3
                        </div>
                        <div class="col-sm-1">
                            4
                        </div>
                        
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-2 col-sm-2">
                            <label class="control-label">None</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Exposed, value:1"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Exposed, value:2"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Exposed, value:3"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Exposed, value:4"></label>
                        </div>                     
                        <div class="col-sm-2">
                            <label class="control-label">High</label>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        @*<br />

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Exposed Weight :</label>
            </div>

            <div class="col-sm-6">
                <input type="text"  class="form-control" data-bind="value:ExposedValue" value="" readonly>
            </div>
        </div>*@

        <br />
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Sensitivity :</label>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-4 col-sm-1">
                            1
                        </div>
                        <div class="col-sm-1">
                            2
                        </div>
                        <div class="col-sm-1">
                            3
                        </div>
                        <div class="col-sm-1">
                            4
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-2 col-sm-2">
                            <label class="control-label">None</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Sensibility, value:1"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Sensibility, value:2"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Sensibility, value:3"></label>
                        </div>
                        <div class="col-sm-1">
                            <label class="radio-frequent"><input type="radio" data-bind="checked:Sensibility, value:4"></label>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">High</label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        @*<br />
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Sensitivity Weight :</label>
            </div>

            <div class="col-sm-6">
                <input type="text" class="form-control" data-bind="value:SensibilityValue" value="" readonly>
            </div>
        </div>*@
        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Save</button>
            </div>
        </div>


        <hr />
        <div class="panel">
            <div class="panel-heading">
                <header>HH Exposure List</header>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="headcolor">
                            <tr>

                                <th>Element </th>
                                
                                <th>Hazard</th>
                                <th>Weight (Exposure)</th>
                                <th>Weight (Sensitivity)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:AnalysisData">
                            <tr>
                                <td class="center" data-bind="text:ElementTypeName"></td>
                                
                                <td class="center" data-bind="text:HazardName"></td>
                                <td class="center" data-bind="text:ExposedValue"></td>
                                <td class="center" data-bind="text:SensibilityValue"></td>
                                <td class="center">
                                    <button type="button" data-bind='click: $parent.EditData' title="Edit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Type?</p>
                        <button data-bind="click: saveHouseHoldAnalysisData" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

