﻿ @{
    ViewBag.Title = "HouseholdInformation";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}


<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/HouseHold/HouseHoldSurvey.js"></script>

<style>
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .table-responsive {
        overflow: visible !important;
    }

    /*.rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }*/

    span.required {
        color: red;
        /*font-weight: bold;*/
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
        border-color: #155ca8;
        border-bottom: none;
    }
</style>


<div class="container" id="divHH">
    <ul class="nav nav-tabs nav-justified" role="tablist" style="background-color:#F8F8F8;">
        <li class="active"><a href="#Basic" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Basic <br />Information</a></li>
        <li><a href="#Members" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Members <br />Information</a></li>
        <li><a href="#BuildingInfo" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Homestead <br />Information</a></li>
        <li><a href="#Food" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cutlery"></span> Food <br />Information</a></li>
        <li><a href="#LandAsset" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cutlery"></span> Land & <br />Asset</a></li>
        <li><a href="#Health" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-leaf"></span> Health <br />Information</a></li>
        <li><a href="#EnergyAndFarming" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tree-deciduous"></span> Energy &<br /> Farming</a></li>
        <li><a href="#DisasterInfo" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tree-deciduous"></span> Disaster <br /> Information</a></li>
        <li><a href="#Administration" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Survey <br />Information</a></li>

    </ul>


    <div class="tab-content rm">
        <div class="tab-pane fade" id="Administration">

            <br />
            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Administrated By<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" data-bind="value:SurveyAdministration.Admininstrator" class="form-control" placeholder="Type a Name" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Questionnaire Completed By<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:SurveyAdministration.SurveyConductor" placeholder="Type a Name" value="" />
                        </div>

                    </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Date<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8" style="padding-left: 15px; padding-right: 15px;">

                            <div class="input-group">
                                <input type="text" id="fromDateField" data-bind="datepicker:SurveyAdministration.SurveyDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                                <input type="hidden" name="fromDate" id="fromDate" />
                                <span class="help-block" style="display: none;"></span>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Name of Informer<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:SurveyAdministration.InformationProvider" placeholder="Type a Name" value="" />
                        </div>
                    </div>



                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" data-bind="click:saveHouseHoldSurveyInfo" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade active in" id="Basic">

            <br />

            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">UP Name<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-6" data-bind="validationElement: UpId">
                            <select type="text" class="form-control" data-bind="options:UPs, value:UpId, optionsCaption:'Select UP', optionsValue:'Id', optionsText: 'LocationName'"></select>
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Ward <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-6" data-bind="validationElement: ParentLocationId">
                            <select type="text" class="form-control" data-bind="options:ParentLocations, value:ParentLocationId, optionsCaption:'Select Ward', optionsValue:'Id', optionsText: 'LocationName'"></select>
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Village<span class="required">*</span> :</label>
                        </div>

                        <div class="col-sm-6" data-bind="validationElement: VillageId">
                            <select type="text" class="form-control" data-bind="options:Locations, value:VillageId, optionsCaption:'Select Village', optionsValue:'Id', optionsText: 'LocationName'"></select>
                        </div>


                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Household No<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:HouseHoldNo" placeholder="Type Existing Household Number" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">House Address :</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" data-bind="value:Address" placeholder="Type Address In Details"></textarea>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">No of Occupants :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:OccupantNumber" placeholder="Type a number" value="" />
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Religion <span class="required">*</span> :</label>
                        </div>

                        <div class="col-sm-6" data-bind="validationElement: HHeadReligion">
                            <select type="text" class="form-control" data-bind="options:Religions, value:HHeadReligion, optionsCaption:'Select Religion', optionsValue:'Id', optionsText: 'Name'"></select>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Have Bank Account/Agent Banking ?<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked:HasBankAccount,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked:HasBankAccount,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design" data-bind="visible:HasBankAccount">
                        <div class="col-sm-3">
                            <label class="control-label">Bank Name<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:BankName" placeholder="Bank Name" value="" />
                        </div>

                    </div>
                    <div class="form-group row row_design" data-bind="visible:HasBankAccount">
                        <div class="col-sm-3">
                            <label class="control-label">Account Number<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:AccountNumber" placeholder="Type a valid account number" value="" />
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Have Mobile Number?<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio1" data-bind="checked:HasMobileNumber,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio1" data-bind="checked:HasMobileNumber,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row row_design" data-bind="visible:HasMobileNumber">
                        <div class="col-sm-3">
                            <label class="control-label">Mobile Number<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:HHeadMobileNo" placeholder="Type a valid mobile number" value="" />
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Monthly Avg Income(HH) :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:MonthlyAvgIncome" placeholder="Type a value" value="" />
                        </div>

                    </div>


                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Living for Whole Life<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="radio1" data-bind="checked:IsLivingLifeTime,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="radio1" data-bind="checked:IsLivingLifeTime,value:false,enable:!IsLivingLifeTime"> No</label>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="form-group row row_design" data-bind="visible:!IsLivingLifeTime">
                        <div class="col-sm-3">
                            <label class="control-label">No of Year Living :</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:LivingPeriod" placeholder="Type a Number" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Any Savings ? <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio11" data-bind="checked:HasSavings,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio11" data-bind="checked:HasSavings,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row row_design" data-bind="visible:HasSavings">
                        <div class="col-sm-3">
                            <label class="control-label">Saving Amount : <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:SavingAmount" placeholder="Type a valid account number" value="" />
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Anyone Member of NGO/MFI ? <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio12" data-bind="checked:IsNGOMember,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio12" data-bind="checked:IsNGOMember,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Ethnic Minority ? <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio13" data-bind="checked:IsEthnicMinority,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio13" data-bind="checked:IsEthnicMinority,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-6 col-sm-offset-3" data-bind="visible:IsEthnicMinority">
                            <select type="text" class="form-control" data-bind="options:Minorities, value:EthnicMinorityId, optionsCaption:'Select', optionsValue:'Id', optionsText: 'Name'"></select>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Any Adolsent Mother ? <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio14" data-bind="checked:HasAdolsentMother,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio14" data-bind="checked:HasAdolsentMother,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Anyone Went Outside for Work ? <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio15" data-bind="checked:WentforWork,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio15" data-bind="checked:WentforWork,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-8 col-sm-offset-3" data-bind="visible:WentforWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio16" data-bind="checked:OutsideHomeDistrict,value:true"> In this District</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio16" data-bind="checked:OutsideHomeDistrict,value:false"> Outside of the District</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" data-bind="click:saveHouseHoldBasicInfo" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>



            </div>

            <br />
            @*</form>*@


        </div>

        <div class="tab-pane fade" id="Members">

            <br />

            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Member Name <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8" data-bind="validationElement: Member.MemberName">
                            <input type="text" class="form-control" data-bind="value:Member.MemberName" placeholder="Member Name" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Gender<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-5" data-bind="validationElement: Member.Gender">
                            <select type="text" class="form-control" data-bind="options:Genders, value:Member.Gender, optionsCaption:'Select ', optionsValue:'Id', optionsText: 'Name'"></select>
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Age <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-5" data-bind="validationElement: Member.Age">
                            <input type="number" class="form-control" data-bind="value:Member.Age" placeholder="Age" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Marital Status<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-5" data-bind="validationElement: Member.MaritalStatus">
                            <select type="text" class="form-control" data-bind="options:MaritalStatusList, value:Member.MaritalStatus, optionsCaption:'Select ', optionsValue:'Id', optionsText: 'Name'"></select>
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Primary Occupation<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8" data-bind="validationElement: Member.OccupationId">
                            <select type="text" class="form-control" data-bind="options:Occupations, value:Member.OccupationId, optionsCaption:'Select UP', optionsValue:'Id', optionsText: 'Name'"></select>
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Primary Income <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" data-bind="value:Member.PrimaryIncome" placeholder="Income" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Secondary Occupation <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:Member.SecondaryOccupation" placeholder="Secondary Occupation" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Secondary Income <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" data-bind="value:Member.SecondaryIncome" placeholder="Income" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Relation to HouseHead<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8" data-bind="validationElement: Member.RelationtoHH">
                            <select type="text" class="form-control" data-bind="options:Relations, value:Member.RelationtoHH, optionsCaption:'Select ', optionsValue:'Id', optionsText: 'Name'"></select>
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Education <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:Member.Education" placeholder="Education" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">NID <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" data-bind="value:Member.NID" placeholder="NID" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Is HouseHead? <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="radioHead" data-bind="checked:Member.IsHeadPerson,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="radioHead" data-bind="checked:Member.IsHeadPerson,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Involved in Safety Net? <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="radioSafetyNet" data-bind="checked:Member.IsSafetyNet,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="radioSafetyNet" data-bind="checked:Member.IsSafetyNet,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Is Disable? <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:Member.IsSafetyNet,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:Member.IsSafetyNet,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" class="btn btn-success" data-bind="click:saveHouseHoldMemberInfo">Submit</button>
                        </div>
                    </div>
                    <div class="form-group row row_design">

                        <div class="col-sm-11">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Age</th>
                                            <th>Occupation</th>
                                            <th>HH Head</th>

                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody data-bind="foreach:Members">
                                        <tr>

                                            <td class="center" data-bind="text:MemberName"></td>
                                            <td class="center" data-bind="text:GenderName"></td>
                                            <td class="center" data-bind="text:Age"><input type="text" data-bind="value:Age" class="form-control" value="" /></td>
                                            <td class="center" data-bind="text:OccupationName"></td>
                                            <td class="center"><label><input type="checkbox" data-bind="checked:IsHeadPerson,enable:false"> Yes/No</label></td>

                                            <td>
                                                <a class="plus" href="#" data-bind="click: $parent.EditMember"><span class="glyphicon glyphicon-edit"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="BuildingInfo">

            <br />
            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Own / Rent<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <label class="radio-inline"><input type="radio" name="optradio17" data-bind="checked:HouseHoldBuilding.RentalType,value:1"> Own</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="radio-inline"><input type="radio" name="optradio17" data-bind="checked:HouseHoldBuilding.RentalType,value:2"> Rent</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="radio-inline"><input type="radio" name="optradio17" data-bind="checked:HouseHoldBuilding.RentalType,value:3"> Others House</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="radio-inline"><input type="radio" name="optradio17" data-bind="checked:HouseHoldBuilding.RentalType,value:4"> Khas land</label>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <label class="control-label">Lands Amount<span class="required">*</span> :</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.LandAmount" placeholder="Amount in decimal" value="" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Value of the land(BDT)<span class="required">*</span> :</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.LandValue" placeholder="value in BDT" value="" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Age of the House<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.AgeofHouse" placeholder="Type a Estimated number" value="" />
                    </div>

                </div>

                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Distance From UP(km)<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.DistancetoUP" placeholder="(km)" value="" />
                    </div>

                </div>

                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Distance From Near Growth Center/Market(km)<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.DistancetoMarket" placeholder="(km)" value="" />
                    </div>

                </div>
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Distance From Shelter Center(If any)(km)<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.DistancetoShelter" placeholder="(km)" value="" />
                    </div>

                </div>
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Proximity to River/Ocean/Haor<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.ProximitytoRiver" placeholder="(km)" value="" />
                    </div>

                </div>
                <br />
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Is the home is inside the Embankment?<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" name="optradio18" data-bind="checked:HouseHoldBuilding.IsInsideEmbankment,value:true"> Yes</label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" name="optradio18" data-bind="checked:HouseHoldBuilding.IsInsideEmbankment,value:false"> No</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Condition of House<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-margin">
                                <thead class="headcolor">
                                    <tr>
                                        <th>Condition of Household</th>
                                        <th>Excelent</th>
                                        <th>Good</th>
                                        <th>Fair</th>
                                        <th>Bad</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="center" style="font-weight:bold;">Building</td>
                                        <td class="center"><label><input type="radio" name="optradio19" data-bind="checked:HouseHoldBuilding.BuildingCondition,value:4"></label></td>
                                        <td class="center"><label><input type="radio" name="optradio19" data-bind="checked:HouseHoldBuilding.BuildingCondition,value:3"></label></td>
                                        <td class="center"><label><input type="radio" name="optradio19" data-bind="checked:HouseHoldBuilding.BuildingCondition,value:2"></label></td>
                                        <td class="center"><label><input type="radio" name="optradio19" data-bind="checked:HouseHoldBuilding.BuildingCondition,value:1"></label></td>
                                    </tr>
                                    <tr>
                                        <td class="center" style="font-weight:bold;">Roof</td>
                                        <td class="center"><label><input type="radio" name="optradio20" data-bind="checked:HouseHoldBuilding.RoofCondition,value:4"></label></td>
                                        <td class="center"><label><input type="radio" name="optradio20" data-bind="checked:HouseHoldBuilding.RoofCondition,value:3"></label></td>
                                        <td class="center"><label><input type="radio" name="optradio20" data-bind="checked:HouseHoldBuilding.RoofCondition,value:2"></label></td>
                                        <td class="center"><label><input type="radio" name="optradio20" data-bind="checked:HouseHoldBuilding.RoofCondition,value:1"></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <br />

                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Home Type<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <select type="text" class="form-control" data-bind="options:HouseTypes, value:HouseHoldBuilding.HouseType, optionsCaption:'Select House Type', optionsValue:'Id', optionsText: 'Name'"></select>
                    </div>

                </div>

                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">House Made of :</label>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group row row_design">
                            <div class="col-sm-3">
                                <label class="control-label">Outside wall<span class="required">*</span> :</label>
                            </div>
                            <div class="col-sm-8">
                                <select type="text" class="form-control" data-bind="options:Materials, value:HouseHoldBuilding.OutsideWallMadeof, optionsCaption:'Select ', optionsValue:'Id', optionsText: 'MaterialName'"></select>
                            </div>

                        </div>
                        <div class="form-group row row_design">
                            <div class="col-sm-3">
                                <label class="control-label">Roof<span class="required">*</span> :</label>
                            </div>
                            <div class="col-sm-8">
                                <select type="text" class="form-control" data-bind="options:Materials, value:HouseHoldBuilding.RoofMadeof, optionsCaption:'Select ', optionsValue:'Id', optionsText: 'MaterialName'"></select>
                            </div>

                        </div>
                        <div class="form-group row row_design">
                            <div class="col-sm-3">
                                <label class="control-label">Floor<span class="required">*</span> :</label>
                            </div>
                            <div class="col-sm-8">
                                <select type="text" class="form-control" data-bind="options:Materials, value:HouseHoldBuilding.FondationMadeof, optionsCaption:'Select ', optionsValue:'Id', optionsText: 'MaterialName'"></select>
                            </div>

                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">No of Rooms :</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.RoomCount" placeholder="Type a Number" value="" />
                    </div>
                </div>
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Other Houses :</label>
                    </div>
                    <div class="col-sm-5 col-sm-offset-3">

                        <select multiple="multiple" id="selectedHouses" class="form-control" data-bind="options: BuildingList, optionsText: 'BuildingName', optionsValue: 'Id', selectedOptions: SelectedBuildings , multiselect: { includeSelectAllOption: true }"></select>
                    </div>

                </div>
                <br />
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Size of Main Building<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.MainBuildingSize" placeholder="inch sq. ft" value="" />
                    </div>
                </div>
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Estimated value of Main Building:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" data-bind="value:HouseHoldBuilding.MainBuildingValue" placeholder="In BDT" value="" />
                    </div>

                </div>
                <br />
                <div class="form-group row row_design">
                    <div class="col-sm-3">
                        <label class="control-label">Prone to Hazards ?</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" name="optradio5" data-bind="checked:HouseHoldBuilding.IsPronetoHazard,value:true"> Yes</label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" name="optradio6" data-bind="checked:HouseHoldBuilding.IsPronetoHazard,value:false"> No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row row_design" data-bind="visible:HouseHoldBuilding.IsPronetoHazard">
                    <div class="col-sm-3">
                        <label class="control-label">Hazard List :</label>
                    </div>
                    <div class="col-sm-8">
                        <select multiple="multiple" id="selectedHazards" class="form-control" data-bind="options: HazardList, optionsText: 'Name', optionsValue: 'Id', selectedOptions: Hazards , multiselect: { includeSelectAllOption: true }"></select>
                    </div>

                </div>




                <br />
                <div class="form-group row row_design">

                    <div class="col-sm-2 col-sm-offset-10">
                        <button type="submit" class="btn btn-success" data-bind="click:saveHouseHoldBuildingInfo">Submit</button>
                    </div>
                </div>
            </div>



        </div>

        <div class="tab-pane fade" id="Food">

            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Main Food List<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th>Food Name</th>
                                            <th>Is Grown?</th>
                                            <th>Is Puchased?</th>
                                            <th>
                                                <a class="plus" href="#" data-bind='click: addFood'>
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody data-bind="foreach:MainFoods">
                                        <tr>
                                            <td class="center"><input type="text" data-bind="value:FoodName" class="form-control" value="" /></td>
                                            <td class="center"><label><input type="checkbox" data-bind="checked:IsGrownFood"></label></td>
                                            <td class="center"><label><input type="checkbox" data-bind="checked:IsPurchasedFood"></label></td>
                                            <td>
                                                <a class="plus" href="#" data-bind="click: $parent.addFood"><span class="glyphicon glyphicon-plus"></span></a>
                                                <a class="minus" href="#" data-bind="click: $parent.removeFood"><span class="glyphicon glyphicon-minus"></span></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Percentage of Foods :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th style="font-weight:bold;"></th>
                                            <th>Percentage (%)</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Purchased Food</td>
                                            <td class="center"><input type="text" data-bind="value: HouseHoldFood.PurchasedFood" class="form-control" value="" /></td>
                                        </tr>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Grown Food</td>
                                            <td class="center"><input type="text" data-bind="value: HouseHoldFood.GrownFood" class="form-control" value="" /></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                    <br />
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Had Food Shortage :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked: HouseHoldFood.HadShortage,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked: HouseHoldFood.HadShortage,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="form-group row row_design" data-bind="visible:HouseHoldFood.HadShortage">
                        <div class="col-sm-3">
                            <label class="control-label">Most Recent Shortage :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th></th>
                                            <th>Caused By</th>
                                            <th>Length of Shortage</th>
                                            <th>Type of Food</th>
                                            <th>Date(MM, yyyy)</th>
                                            <th>Action Taken to Deal</th>
                                            <th>
                                                <a class="plus" href="#" data-bind='click: addFoodShortage'>
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody data-bind="foreach:HHFoodShortages">
                                        <tr>
                                            <td class="center" style="font-weight:bold;" data-bind="text:ShortageName"></td>
                                            <td class="center"><input type="text" class="form-control" data-bind="value:CausedBy" /></td>
                                            <td class="center"><input type="text" class="form-control" data-bind="value:ShortageLength" /></td>
                                            <td class="center"><input type="text" class="form-control" data-bind="value:FoodType" /></td>
                                            <td class="center">
                                                <div class="input-group">
                                                    <input type="text" id="shortageDateField" data-bind="datepicker:ShortageDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                                                    <input type="hidden" name="fromDate" id="shortageDates" />
                                                    <span class="help-block" style="display: none;"></span>
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="center"><input type="text" class="form-control" data-bind="value:ActionTaken" /></td>
                                            <td>
                                                <a class="plus" href="#" data-bind="click: $parent.addFoodShortage"><span class="glyphicon glyphicon-plus"></span></a>
                                                <a class="minus" href="#" data-bind="click: $parent.removeFoodShortage"><span class="glyphicon glyphicon-minus"></span></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <br />

                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Is Stocked at Home? :</label>
                        </div>

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked: HouseHoldFood.IsStocked,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked: HouseHoldFood.IsStocked,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group row row_design" data-bind="visible:HouseHoldFood.IsStocked">
                        <div class="col-sm-3">
                            <label class="control-label">How Long Stock Would Last :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:HouseHoldFood.StockDuration" placeholder="Type a Duration" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Main Cooking Fuel<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th></th>
                                            <th>Percentage (%)</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Firewood</td>
                                            <td class="center"><input type="text" class="form-control" data-bind="value:HouseHoldFood.Firewood" /></td>
                                        </tr>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Electric</td>
                                            <td class="center"><input type="text" class="form-control" data-bind="value:HouseHoldFood.Electricity" /></td>
                                        </tr>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Gas</td>
                                            <td class="center"><input type="text" class="form-control" data-bind="value:HouseHoldFood.Gas" /></td>
                                        </tr>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Others</td>
                                            <td class="center"><input type="text" class="form-control" data-bind="value:HouseHoldFood.Others" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" class="btn btn-success" data-bind="click:saveHouseHoldFoodInfo">Submit</button>
                        </div>
                    </div>
                </div>

            </div>

            <br />
        </div>

        <div class="tab-pane fade" id="LandAsset">

            <br />
            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-2">
                            <label class="control-label">Agricultural Land (Only Crop land)<span class="required">*</span> :</label>
                        </div>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:HouseHoldAsset.CropLandSize" placeholder="Size in decimal" value="" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Value (BDT)<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:HouseHoldAsset.CropLandValue" placeholder="" value="Value in BDT" />
                        </div>
                    </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-2">
                            <label class="control-label">Gher/Pond<span class="required">*</span> :</label>
                        </div>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:HouseHoldAsset.WaterBodySize" placeholder="Size in decimal" value="" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Value (BDT)<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:HouseHoldAsset.WaterBodyValue" placeholder="" value="Value in BDT" />
                        </div>


                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-2">
                            <label class="control-label">Agricultural Tools<span class="required">*</span> :</label>
                        </div>

                        <div class="col-sm-3">
                            <select multiple="multiple" id="selectedTools" class="form-control" data-bind="options: AgriToolList, optionsText: 'ToolName', optionsValue: 'Id', selectedOptions: SelectedTools , multiselect: { includeSelectAllOption: true }"></select>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Value (BDT)<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:HouseHoldAsset.AgriToolsValue" placeholder="" value="value in BDT" />
                        </div>


                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-2">
                            <label class="control-label">Livestock Activity :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th style="font-weight:bold;">Livestock</th>
                                            <th>Estimated No</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Poultry</td>
                                            <td class="center"><input type="text" data-bind="value:HouseHoldAsset.PoultryCount" class="form-control" value="" /></td>
                                        </tr>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Cow/Goat/Sheep</td>
                                            <td class="center"><input type="text" data-bind="value:HouseHoldAsset.GoatCowCount" class="form-control" value="" /></td>
                                        </tr>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Others</td>
                                            <td class="center"><input type="text" data-bind="value:HouseHoldAsset.OthersCount" class="form-control" value="" /></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>


                <br />
                <div class="form-group row row_design">

                    <div class="col-sm-2 col-sm-offset-8">
                        <button type="submit" class="btn btn-success" data-bind="click:saveHouseHoldLandAssets">Submit</button>
                    </div>
                </div>
            </div>



        </div>

        <div id="Health" class="tab-pane fade">

            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Annual Health Expenditure<span class="required">*</span> :</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:HouseHoldHealth.AnnualHealthExpenditure" placeholder="Amount In BDT" value="" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Anybody Sufferred From Illness In Last 3 Month :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:HouseHoldHealth.SufferedLastThreeMonth,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:HouseHoldHealth.SufferedLastThreeMonth,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Name of the Disease :</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:HouseHoldHealth.DiseaseName" placeholder="Type Disease Name" value="" />
                        </div>
                    </div>
                    <br />

                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Main Source of Drinking Water<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <select multiple="multiple" id="selectedSources" class="form-control" data-bind="options: WaterSourceList, optionsText: 'SourceName', optionsValue: 'Id', selectedOptions: SelectedWaterSources , multiselect: { includeSelectAllOption: true }"></select>

                        </div>
                    </div>
                    <br />

                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Is Water Safe ?<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="rbt2" data-bind="checked:HouseHoldHealth.IsWaterSafe,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="rbt2" data-bind="checked:HouseHoldHealth.IsWaterSafe,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Is There Latrine ?<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="rbt1" data-bind="checked:HouseHoldHealth.HasLatrine,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="rbt1" data-bind="checked:HouseHoldHealth.HasLatrine,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Latrine Type<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-5" data-bind="validationElement: HouseHoldHealth.LatrineType">
                            <select type="text" class="form-control" data-bind="options:LatrineTypes, value:HouseHoldHealth.LatrineType, optionsCaption:'Select ', optionsValue:'Id', optionsText: 'Name'"></select>
                        </div>

                    </div>
                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" data-bind="click:saveHouseHoldHealthInfo" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="DisasterInfo" class="tab-pane fade">
            <br />
            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Did the house affected by any disaster in last 10 years?<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio3" data-bind="checked:HouseHoldDisaster.IsLatestAfftected,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio3" data-bind="checked:HouseHoldDisaster.IsLatestAfftected,value:false"> No</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Which Hazard? :</label>
                        </div>
                        <div class="col-sm-6">
                            <select type="text" class="form-control" data-bind="options:HazardList, value:HouseHoldDisaster.LatestHazardId, optionsCaption:'Select Hazard', optionsValue:'Id', optionsText: 'Name'"></select>

                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">When the disaster was Occured ?</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:HouseHoldDisaster.LatestDisasterYear" placeholder="Type a Year" value="" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Main Occupation of House Head was Affected ?</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:HouseHoldDisaster.HasOccupationAffected,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:HouseHoldDisaster.HasOccupationAffected,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Any body Died ?</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:HouseHoldDisaster.AnybodyDied,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:HouseHoldDisaster.AnybodyDied,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">What Damage Occured :</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" data-bind="value:HouseHoldDisaster.Damage" placeholder="Describe "></textarea>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Do you think climate changed over time ?</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:HouseHoldDisaster.IsClimateChanged,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" data-bind="checked:HouseHoldDisaster.IsClimateChanged,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row row_design" data-bind="visible:HouseHoldDisaster.IsClimateChanged">
                        <div class="col-sm-3">
                            <label class="control-label">Changes you Noticed :</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" data-bind="value:HouseHoldDisaster.Changes" placeholder="List down the changes"></textarea>
                        </div>
                    </div>

                    <div class="form-group row row_design" data-bind="visible:HouseHoldDisaster.IsClimateChanged">
                        <div class="col-sm-3">
                            <label class="control-label">Causes of the changes :</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" data-bind="value:HouseHoldDisaster.CauseofChange" placeholder="Causes According to you"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" data-bind="click:saveHouseHoldDisasterInfo" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="EnergyAndFarming" class="tab-pane fade">
            <br />
            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Energy Source<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-4">
                            <select multiple="multiple" id="selectedEnerySources" class="form-control" data-bind="options: EnegrySourceList, optionsText: 'SourceName', optionsValue: 'Id', selectedOptions: SelectedEnergySources , multiselect: { includeSelectAllOption: true }"></select>
                        </div>
                        
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Farming/Agriculture Type :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th style="font-weight:bold;">Farming/Agriculre Type</th>
                                            <th>Percentage %</th>
                                        </tr>
                                    </thead>
                                    <tbod>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Subsistence/Domestic</td>
                                            <td class="center"><input type="text" data-bind="value:HouseHoldEnergy.SubsistenceDomesticTypePercentage" class="form-control" value="" /></td>
                                        </tr>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Commercial</td>
                                            <td class="center"><input type="text" data-bind="value:HouseHoldEnergy.CommercialTypePercentage" class="form-control" value="" /></td>
                                        </tr>
                                        <tr>
                                            <td class="center" style="font-weight:bold;">Others</td>
                                            <td class="center"><input type="text" data-bind="value:HouseHoldEnergy.OthersTypePercentage" class="form-control" value="" /></td>
                                        </tr>

                                    </tbod>
                                </table>
                            </div>
                        </div>

                    </div>
                    @*<div class="form-group row row_design">
                        <div class="col-sm-3">
                            <label class="control-label">Crop List :</label>
                        </div>
                        <div class="col-sm-8">
                            <select multiple="multiple" id="selectedCrops" class="form-control" data-bind="options: CropList, optionsText: 'CropName', optionsValue: 'Id', selectedOptions: SelectedCrops , multiselect: { includeSelectAllOption: true }"></select>
                        </div>

                    </div>*@
                    

                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" data-bind="click:saveHouseHoldEnergyInfo" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        
    </div>


    <!--Start modal body>-->
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>

                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

