﻿
@{
    ViewBag.Title = "HouseholdReports";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}


<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />


<div class="panel-body rm" @*id="divRiskReductionActionPlan"*@>
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-1">
                <label class="control-label">District :</label>
            </div>
            <div class="col-sm-3" @*data-bind="validationElement:Name"*@>
                <select type="text" class="form-control" @*data-bind="options:Locations, value:VillageId, optionsCaption:'Select Village', optionsValue:'Id', optionsText: 'LocationName'"*@></select>
            </div>
            <div class="col-sm-offset-2 col-sm-1">
                <label class="control-label">Upazilla :</label>
            </div>
            <div class="col-sm-3" @*data-bind="validationElement:Name"*@>
                <select type="text" class="form-control" @*data-bind="options:Locations, value:VillageId, optionsCaption:'Select Village', optionsValue:'Id', optionsText: 'LocationName'"*@></select>
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-1">
                <label class="control-label">Union :</label>
            </div>
            <div class="col-sm-3" @*data-bind="validationElement:Name"*@>
                <select type="text" class="form-control" @*data-bind="options:Locations, value:VillageId, optionsCaption:'Select Village', optionsValue:'Id', optionsText: 'LocationName'"*@></select>
            </div>
            <div class="col-sm-offset-2 col-sm-1">
                <label class="control-label">Ward :</label>
            </div>
            <div class="col-sm-3" @*data-bind="validationElement:Name"*@>
                <select type="text" class="form-control" @*data-bind="options:Locations, value:VillageId, optionsCaption:'Select Village', optionsValue:'Id', optionsText: 'LocationName'"*@></select>
            </div>

        </div>
        <br />

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="radio-inline"><input type="checkbox" name="optradio1" @*data-bind="checked:IsThereAnyCommunityInitiative,value:true"*@> Ethnic Minority</label>
            </div>
            <div class="col-sm-2">
                <label class="radio-inline"><input type="checkbox" name="optradio2" @*data-bind="checked:IsThereAnyCommunityInitiative,value:false"*@> Women headed</label>
            </div>
            <div class="col-sm-2">
                <label class="radio-inline"><input type="checkbox" name="optradio3" @*data-bind="checked:IsThereAnyCommunityInitiative,value:true"*@> Marginal People</label>
            </div>
            <div class="col-sm-2">
                <label class="radio-inline"><input type="checkbox" name="optradio4" @*data-bind="checked:IsThereAnyCommunityInitiative,value:false"*@> Have Adolescent Mother</label>
            </div>
            <div class="col-sm-2">
                <label class="radio-inline"><input type="checkbox" name="optradio5" @*data-bind="checked:IsThereAnyCommunityInitiative,value:false"*@> Have Disable</label>
            </div>
        </div>
        <br />


        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Monthly Income :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" @*data-bind="value:GapsForHHIntervention,valueUpdate: 'keyup'"*@ placeholder="Upper Limit" value="">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" @*data-bind="value:GapsForHHIntervention,valueUpdate: 'keyup'"*@ placeholder="Lower Limit" value="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Living in the Union :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" @*data-bind="value:GapsForHHIntervention,valueUpdate: 'keyup'"*@ placeholder="Upper Limit" value="">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" @*data-bind="value:GapsForHHIntervention,valueUpdate: 'keyup'"*@ placeholder="Lower Limit" value="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />

        <div class="form-group row row_design">


            <div class="col-sm-offset-1">
                <label class="radio-inline"><input type="checkbox" name="optradio7" @*data-bind="checked:IsThereAnyCommunityInitiative,value:true"*@> Any member migrated outside the district</label>
            </div>


        </div>
        <br />

        <div class="form-group row row_design" @*data-bind="visible:IsThereAnyThreatForTheHHFromTheCommunityInitiative"*@>
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Ownership of the House :</label>
            </div>
            <div class="col-sm-3" @*data-bind="validationElement:Name"*@>
                <select type="text" class="form-control" @*data-bind="options:Locations, value:VillageId, optionsCaption:'Select Village', optionsValue:'Id', optionsText: 'LocationName'"*@></select>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Position of the House :</label>
            </div>
            <div class="col-sm-3" @*data-bind="validationElement:Name"*@>
                <select type="text" class="form-control" @*data-bind="options:Locations, value:VillageId, optionsCaption:'Select Village', optionsValue:'Id', optionsText: 'LocationName'"*@></select>
            </div>


        </div>


        <br />
        <div class="form-group row row_design">


            <div class="col-sm-offset-1">
                <label class="radio-inline"><input type="checkbox" name="optradio7" @*data-bind="checked:IsThereAnyCommunityInitiative,value:true"*@> Proximity to Haor/ River/ Ocean</label>
            </div>


        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-offset-4">
                <button type="submit" class="btn btn-default" @*data-bind="enable: IsValid"*@ data-toggle="modal" data-target="#myModal">Household List</button>
                <button type="submit" class="btn btn-default" @*data-bind="enable: IsValid"*@ data-toggle="modal" data-target="#myModal">Selected Household(Proposal)</button>
                <button type="submit" class="btn btn-default" @*data-bind="enable: IsValid"*@ data-toggle="modal" data-target="#myModal">Selected Household(Disbursement)</button>
                <button type="submit" class="btn btn-default" @*data-bind="enable: IsValid"*@ data-toggle="modal" data-target="#myModal">Household List(Grants)</button>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Risk Reduction Action Plan?</p>
                        <button data-bind="click: SaveRiskReductionActionPlan" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


