﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.ATM.DTO.HouseHoldInformationDto>
@{
    ViewBag.Title = "Household Analysis";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var pageDataJson = jss.Serialize(Model);
    var UPsJson = jss.Serialize(ViewBag.UPs);
    var WardsJson = jss.Serialize(ViewBag.Wards);
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/HouseHold/HouseholdAnalysis.js"></script>

<script>
    var pageData = JSON.parse('@Html.Raw(pageDataJson)');
    var ups = JSON.parse('@Html.Raw(UPsJson)');
    var wards = JSON.parse('@Html.Raw(WardsJson)');
    var locationid = '@ViewBag.LocationId'
    var up = '@ViewBag.UP'
    var searchString = '@ViewBag.SearchString'
</script>




    <div class="panel-body rm" id="householdAnalysisList">
        <br />

        <div class="panel-body">
            <div class="container-fluid">
@using (Ajax.BeginForm("HouseholdAnalysis", "Household", null))
{
                <div class="form-group row row_design">
                    <div class="col-sm-offset-1 col-sm-2">
                        <label class="control-label">HH No.<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3" data-bind="validationElement: HouseHoldNo">
                        <input type="text" name="searchString" class="form-control" @*data-bind="value:HouseHoldNo,valueUpdate: 'keyup'"*@ id="searchString" placeholder="HH No." value="@(ViewBag.SearchString ?? String.Empty)" />
                    </div>

                </div>

                <div class="form-group row row_design">
                    <div class="col-sm-offset-1 col-sm-2">
                        <label class="control-label">UP<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3" data-bind="validationElement: UP">
                        <select type="text" class="form-control" name="up" data-bind="options:UPs, value: UP, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">Ward<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3" data-bind="validationElement: LocationID">
                        <select type="text" class="form-control" name="locationid" data-bind="options:Wards, value:LocationID, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>
                    </div>
                </div>



                <br />
                <div class="form-group row row_design">

                    <div class="col-sm-2 col-sm-offset-10">
                        <button type="submit" class="btn btn-deepgreen" @*data-bind="click:Search"*@@*data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal"*@>Search</button>
                    </div>
                </div>
}
            </div>
          

            <div class="form-group">
                <div id="successModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Response</h4>
                            </div>
                            <div class="modal-body" align="center">
                                <p id="successModalText"></p>
                                <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirmation</h4>
                            </div>
                            <div class="modal-body" align="center">
                                <p>Do you want to add this Location?</p>
                                <button @*data-bind="click: SaveElement"*@ class="btn btn-success" data-dismiss="modal">Yes</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                            </div>
                            <div class="modal-footer">
                                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr />
            <div class="panel">

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="headcolor">
                                <tr>
                                    
                                    <th>HH No.</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:PageData">
                                <tr>
                                    <td class="center" data-bind="text:HouseHoldNo"></td>
                                    <td class="center" data-bind="text:LocationName"></td>
                                    <td class="center">
                                        <button type="button" class="btn btn-default" data-bind='click: $parent.Exposure' title="Exposer">Exposer & Sensitivity</button>
                                        <button type="button" class="btn btn-default" data-bind='click: $parent.PI' title="Sensitivity">Potential Impact</button>
                                        
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pagination-centered">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("HouseholdAnalysis",
                                                        new
                                                        {
                                                            page,
                                                            sortOrder = ViewBag.CurrentSort,
                                                            searchString = ViewBag.SearchString,
                                                            up = ViewBag.UP,
                                                            locationid = ViewBag.LocationId,
                                                            currentFilter = ViewBag.CurrentFilter
                                                        }))


                    </div>
                </div>
            </div>
        </div>
    </div>

