﻿
@{
    ViewBag.Title = "HouseholdDisburse";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<script src="~/Areas/ATM/Scripts/HouseHold/Disbursement.js"></script>

<div class="panel-body rm">
    <br />
    <div id="divIntervention">

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">HH No. :</label>
            </div>
            <div class="col-sm-3">
                <input type="text" data-bind="value:HouseHoldNo" class="form-control" value="" readonly />
            </div>
            <div class="col-sm-2">
                <label class="control-label">HH Head Name :</label>
            </div>
            <div class="col-sm-3">
                <input type="text" data-bind="value:HHHeadName" class="form-control" value="" readonly />
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">

                <label class="control-label">Proposed Intervention :</label>
            </div>

            <div class="col-sm-3">
                <input type="text" data-bind="value:InterventionTitle" class="form-control" value="" />
            </div>

            <div class="col-sm-2">
                <label class="control-label">Proposed Intervention Type :</label>
            </div>
            <div class="col-sm-3">
                <select type="text" class="form-control" data-bind="options:SchemeCategories, value:InterventionCategoryId, optionsCaption:'--Select--', optionsValue:'Id', optionsText: 'CategoryName'"></select>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Implementation Period :</label>
            </div>
            <div class="col-sm-4" style="padding-left: 15px; padding-right: 15px;">

                <div class="input-group">
                    <input type="text" id="fromDateField" data-bind="datepicker:StartDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                    <input type="hidden" name="fromDate" id="fromDate" />
                    <span class="help-block" style="display: none;"></span>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>

            </div>
            <div class="col-sm-4" style="padding-left: 15px; padding-right: 15px;">

                <div class="input-group">
                    <input type="text" id="toDateField" data-bind="datepicker:EndDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                    <input type="hidden" name="toDate" id="toDate" />
                    <span class="help-block" style="display: none;"></span>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>

            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Description of the Intervention :</label>
            </div>

            <div class="col-sm-8">
                <textarea class="form-control" data-bind="value:ShortDetails" placeholder="Type Short Description"></textarea>
            </div>

           
        </div>

       <br/>

        <div class="panel">
            <div class="panel-heading">
                <header>Proposed Amounts</header>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin">
                        <thead class="headcolor">
                            <tr>
                                <th>Source of Fund</th>
                                <th>Short Description</th>
                                <th>Amount (BDT)</th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:InterventionBudgets">
                            <tr>
                                <td class="center" data-bind="text:SourceOfFundName"></td>
                                <td class="center" data-bind="text:Details"></td>
                                <td class="center" data-bind="text:FundAmount"></td>                            
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="form-group row row_design">
                    <div class="col-sm-2 col-sm-offset-3">
                        <label class="control-label">CRF Grants :</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" data-bind="value:CRFGrant" class="form-control" value="" readonly/>
                    </div>
                    <div class="col-sm-1">
                        <label class="control-label"><span>BDT</span></label>
                    </div>

                </div>

            </div>
        </div>

        <br />
        <div class="form-group row row_design">


            <div class="col-sm-2 col-sm-offset-2" >
                <label class="control-label">Disburse Amount :</label>
            </div>
            <div class="col-sm-4" data-bind="validationelement:DisbursedAmount">
                <input type="text" data-bind="value:DisbursedAmount,valueUpdate:'keyup'" class="form-control"  />
            </div>
            <div class="col-sm-1">
                <label class="control-label"><span>BDT</span></label>
            </div>

        </div>

        <br />

        <div class="panel">
            <div class="panel-heading">
                <header>Disbursement History</header>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin">
                        <thead class="headcolor">
                            <tr>

                                <th>Disbursement Date</th>
                                <th>Amount (BDT)</th>
                                <th>Available Grant</th>

                            </tr>
                        </thead>

                        <tbody data-bind="foreach:DisbursementHistories">
                            <tr>

                                <td class="center" data-bind="text:moment(DisburseDate).format('DD/MM/YYYY')"></td>
                                <td class="center" data-bind="text:DisbursedAmount"></td>
                                <td class="center" data-bind="text:RemainingFund"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               

            </div>
        </div>

      
        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-10">
                <button type="submit" data-bind="click:saveDisbursement,enable:IsValid" class="btn btn-primary">Disburse</button>
            </div>
        </div>

    </div>
    <!--Start modal body>-->
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>

                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
