﻿
@{
    ViewBag.Title = "QuestionAboutFood";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}


<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<div class="panel-body rm">
    <br />
    <div class="container">
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Main Food List<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin" @*style="margin-bottom: 2px;"*@>
                        <thead class="headcolor">
                            <tr>
                                <th style="font-weight:bold;">SL. No.</th>
                                <th>Food Name</th>   
                                <th>
                                    <a class="plus" href="#" @*data-bind="click: addTenures"*@>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </th>                            
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:LeaveApplication">
                            <tr>
                                <td class="center" style="font-weight:bold;"></td>
                                <td class="center"></td>
                                <td>
                                    <a class="plus" href="#" @*data-bind="click: $parent.addTenures"*@><span class="glyphicon glyphicon-plus"></span></a>
                                    <a class="minus" href="#" @*data-bind="click: $parent.removeTenures"*@><span class="glyphicon glyphicon-minus"></span></a>
                                </td>
                           </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Percentage of Foods :</label>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin" @*style="margin-bottom: 2px;"*@>
                        <thead class="headcolor">
                            <tr>
                                <th style="font-weight:bold;"></th>
                                <th>Percentage (%)</th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:LeaveApplication">
                            <tr>
                                <td class="center" style="font-weight:bold;">Purchased Food</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Grown Food</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Grown Food List :</label>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin" @*style="margin-bottom: 2px;"*@>
                        <thead class="headcolor">
                            <tr>
                                <th style="font-weight:bold;">SL. No.</th>
                                <th>Food Name</th>
                                <th>
                                    <a class="plus" href="#" @*data-bind="click: addTenures"*@>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </th>   
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:LeaveApplication">
                            <tr>
                                <td class="center" style="font-weight:bold;"></td>
                                <td class="center"></td>
                                <td>
                                    <a class="plus" href="#" @*data-bind="click: $parent.addTenures"*@><span class="glyphicon glyphicon-plus"></span></a>
                                    <a class="minus" href="#" @*data-bind="click: $parent.removeTenures"*@><span class="glyphicon glyphicon-minus"></span></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Had Food Shortage :</label>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> No</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Most Recent Shortage :</label>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin" @*style="margin-bottom: 2px;"*@>
                        <thead class="headcolor">
                            <tr>
                                <th></th>
                                <th>Shortage 1</th>
                                <th>Shortage 2</th>
                                <th>Shortage 3</th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:LeaveApplication">
                            <tr>
                                <td class="center" style="font-weight:bold;">Date(MM, yyyy)</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Caused By</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Length of Shortage</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Type of Food</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Action Taken to Deal</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <br />

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Is Stocked at Home? :</label>
            </div>

            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">How Long Stock Would Last :</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Type a Duration" value="" />
            </div>
        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Main Cooking Fuel<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-margin" @*style="margin-bottom: 2px;"*@>
                        <thead class="headcolor">
                            <tr>
                                <th></th>
                                <th>Percentage (%)</th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach:LeaveApplication">
                            <tr>
                                <td class="center" style="font-weight:bold;">Firewood</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Electric</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Gas</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                            <tr>
                                <td class="center" style="font-weight:bold;">Others</td>
                                <td class="center"><input type="text" class="form-control" value="" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

  
        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>


    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Question About Food List</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>
                            <th>Main Food List</th>
                            <th>Percentage of Foods</th>
                            <th>Grown Food List</th>
                            <th>Had Food Shortage</th>
                            <th>Most Recent Shortage</th>
                            <th>Is Stocked at Home?</th>
                            <th>How Long Stock Would Last</th>
                            <th>Main Cooking Fuel</th>                        
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LeaveApplication">
                        <tr>

                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center">
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

