﻿
@{
    ViewBag.Title = "QuestionAboutHealth";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}


<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<div class="panel-body rm">
    <br />
    <div class="container">
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Annual Health Expenditure<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Amount In BDT" value="" />
            </div>
        </div>
        <br/>
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Anybody Sufferred From Illness In Last 3 Month :</label>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> No</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Name of the Disease :</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Type Disease Name" value="" />
            </div>

        </div>
        <br />

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Main Source of Drinking Water<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-7">
                <label class="control-label"><input type="checkbox" value=""> Own Tubewell</label><br/>
                <label class="control-label"><input type="checkbox" value=""> Community Tubewell</label><br />
                <label class="control-label"><input type="checkbox" value=""> Own Pond</label><br />
                <label class="control-label"><input type="checkbox" value=""> Community Pond</label><br />
                <label class="control-label"><input type="checkbox" value=""> Bottled</label><br />
                <label class="control-label"><input type="checkbox" value=""> Catchments, Tanks, Drums</label><br />
            </div>
        </div>
        <br/>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Have Water Tank?<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio"> No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>


    <hr />
    <div class="panel">
        <div class="panel-heading">
            <header>Question About Health List</header>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" @*style="font-size: 11px "*@>
                    <thead class="headcolor">
                        <tr>
                            <th>Annual Health Expenditure</th>
                            <th>Anybody Sufferred From Illness In Last 3 Month</th>
                            <th>Name of the Disease</th>
                            <th>Main Source of Drinking Water</th>
                            <th>Have Water Tank?</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:LeaveApplication">
                        <tr>

                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center"></td>
                            <td class="center">
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="button" @*data-bind='click: $parent.SendMessage'*@ title="remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

