﻿
@{
    ViewBag.Title = "RiskReductionActionPlan";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/HouseHold/RiskReductionActionPlan.js"></script>


<div class="panel-body rm" id="divRiskReductionActionPlan">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Household No.<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <input type="text" class="form-control" data-bind="value:HouseHoldNo,valueUpdate: 'keyup'" placeholder="Type a Household No." readonly value="">
            </div>

        </div>
        <br/>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Is there any community initiative?<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio1" data-bind="checked:IsThereAnyCommunityInitiative,value:true"> Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio2" data-bind="checked:IsThereAnyCommunityInitiative,value:false"> No</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group row row_design" data-bind="visible:IsThereAnyCommunityInitiative">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">What are the initiatives?<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <input type="text" class="form-control" data-bind="value:WhatAreTheInitiatives,valueUpdate: 'keyup'" placeholder="Type initiatives" value="">
            </div>

        </div>

        <div class="form-group row row_design" data-bind="visible:IsThereAnyCommunityInitiative">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">What are the benefits receiving by the HH?<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <textarea class="form-control" data-bind="value:WhatAreTheBenefitsReceivingByTheHH,valueUpdate: 'keyup'" placeholder="Type the benefits receiving by the HH" value=""></textarea>
            </div>

        </div>
        <br/>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Is there any threat for the HH from the community initiative?<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio3" data-bind="checked:IsThereAnyThreatForTheHHFromTheCommunityInitiative,value:true"> Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" name="optradio4" data-bind="checked:IsThereAnyThreatForTheHHFromTheCommunityInitiative,value:false"> No</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group row row_design" data-bind="visible:IsThereAnyThreatForTheHHFromTheCommunityInitiative">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">What are the threats?<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <textarea class="form-control" data-bind="value:WhatAreTheThreats,valueUpdate: 'keyup'" placeholder="Type the threats" value=""></textarea>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Impacts of Community level initiative on HH threat identified<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <textarea class="form-control" data-bind="value:ImpactsOfCommunityLevelInitiativeOnHHThreatIdentified,valueUpdate: 'keyup'" placeholder="Type the Impacts of Community level initiative on HH threat identified" value=""></textarea>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Gaps for HH intervention<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <input type="text" class="form-control" data-bind="value:GapsForHHIntervention,valueUpdate: 'keyup'" placeholder="Gaps for HH intervention" value="">
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Livelihood Risk Reduction Plan <span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <textarea class="form-control" data-bind="value:LivelihoodRiskReductionPlan,valueUpdate: 'keyup'" placeholder="Type Livelihood Risk Reduction Plan" value=""></textarea>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Life and Asset Loss Reduction Plan <span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <textarea class="form-control" data-bind="value:LifeAndAssetLossReductionPlan,valueUpdate: 'keyup'" placeholder="Type Life and Asset Loss Reduction Plan" value=""></textarea>
            </div>

        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Plan for supporting Neighborhood threats <span class="required">*</span> :</label>
            </div>
            <div class="col-sm-7" @*data-bind="validationElement:Name"*@>
                <textarea class="form-control" data-bind="value:PlanForSupportingNeighborhoodThreats,valueUpdate: 'keyup'" placeholder="Type Plan for supporting Neighborhood threats" value=""></textarea>
            </div>

        </div>

        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-10">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>
    </div>

    
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p>Do you want to add this Risk Reduction Action Plan?</p>
                        <button data-bind="click: SaveRiskReductionActionPlan" class="btn btn-success" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

