﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.ATM.DTO.HouseHoldPotentialImpactDto>
@{
    ViewBag.Title = "Household Analysis";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var pageDataJson = jss.Serialize(Model);
    var UPsJson = jss.Serialize(ViewBag.UPs);
    
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/HouseHold/VulnerableList.js"></script>

<script>
    var pageData = JSON.parse('@Html.Raw(pageDataJson)');
    var ups = JSON.parse('@Html.Raw(UPsJson)');
   
    var up = '@ViewBag.UP'
    var searchString = '@ViewBag.SearchString'
</script>




<div class="panel-body rm" id="householdAnalysisList">
    <br />

    <div class="panel-body">
        <div class="container-fluid">
            @using (Ajax.BeginForm("VulnerableHHList", "Household", null))
            {
                <div class="form-group row row_design">
                    <div class="col-sm-offset-1 col-sm-2">
                        <label class="control-label">Search By<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3" >
                        <input type="text" name="searchString" class="form-control" @*data-bind="value:HouseHoldNo,valueUpdate: 'keyup'"*@ id="searchString" placeholder="Search by HH No/Location Name" value="@(ViewBag.SearchString ?? String.Empty)" />
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">UP<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3" >
                        <select type="text" class="form-control" name="up" data-bind="options:UPs, value: UP, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>
                    </div>
                </div>

              
                <br />
                <div class="form-group row row_design">

                    <div class="col-sm-2 col-sm-offset-10">
                        <button type="submit" class="btn btn-deepgreen" @*data-bind="click:Search"*@ @*data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal"*@>Search</button>
                    </div>
                </div>
            }
        </div>


        

        <hr />
        <div class="panel">

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="headcolor">
                            <tr>

                                <th>HH No.</th>
                                <th>Location</th>
                                <th>Vulnerability Score</th>
                               
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:PageData">
                            <tr>
                                <td class="center" data-bind="text:HouseHoldNo"></td>
                                <td class="center" data-bind="text:LocationName"></td>
                                <td class="center" data-bind="text:VulnerabilityScore"></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pagination-centered">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("VulnerableHHList",
                                                        new
                                                        {
                                                            page,
                                                            sortOrder = ViewBag.CurrentSort,
                                                            searchString = ViewBag.SearchString,
                                                            up = ViewBag.UP,
                                                           currentFilter = ViewBag.CurrentFilter
                                                        }))


                </div>
            </div>
        </div>
    </div>
</div>
