﻿
@{
    ViewBag.Title = "CRFDashboard";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}


<script src="~/Content/customassets/js/jquery-3.1.1.min.js"></script>
<script src="~/Content/customassets/js/highcharts.js"></script>
<script src="~/Content/customassets/js/exporting.js"></script>
<script src="~/Content/customassets/js/export-data.js"></script>
@*<script src="~/Areas/ATM/Scripts/Scheme/CRFDashboard.js"></script>*@
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />


<style>
    .highcharts-credits {
        visibility: hidden !important;
    }

    .highcharts-exporting-group {
        visibility: hidden !important;
    }

    .label-default {
        font-size: 12px;
    }
</style>

<div class="panel-body rm" @*id="divCRFDash"*@>
    
    <div class="container-fluid">
        <div class="form-group row row_design">
           
            <div class="col-sm-offset-1 col-sm-1">
                <label class="control-label">Thana :</label>
            </div>
            <div class="col-sm-3" @*data-bind="validationElement: ThanaId"*@>
                <select type="text" class="form-control" @*data-bind="options:Thanas, value:ThanaId, optionsCaption:'Choose Upazila..', optionsValue:'Id', optionsText: 'LocationName'"*@></select>
            </div>

            <div class="col-sm-offset-1 col-sm-1">
                <label class="control-label">UP :</label>
            </div>
            <div class="col-sm-3" @*data-bind="validationElement: UPId"*@>
                <select type="text" class="form-control" @*data-bind="options:UPs, value:UPId, optionsCaption:'Choose Union..', optionsValue:'Id', optionsText: 'LocationName'"*@></select>
            </div>
        </div>
        <br/>
       
        <div class="panel" @*data-bind="visible:IsReady"*@>
            
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12">

                        <div class="col-sm-6">
                            <div class="form-group row row_design">
                                <div class="col-sm-offset-1 col-sm-5">
                                    <label class="control-label">Beneficiary :</label>
                                </div>
                                <div class="col-sm-5" @*data-bind="validationElement: LocationName"*@>
                                    <span class="label label-default">24.07 HHs</span>
                                </div>
                            </div>
                            <div class="form-group row row_design">
                                <div class="col-sm-offset-1 col-sm-5">
                                    <label class="control-label">Proposals :</label>
                                </div>
                                <div class="col-sm-5" @*data-bind="validationElement: Locationlevels"*@>
                                    <span class="label label-default">8003</span>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row row_design">
                                <div class="col-sm-offset-1 col-sm-5">
                                    <label class="control-label">Selected :</label>
                                </div>
                                <div class="col-sm-5" @*data-bind="validationElement: LocationName"*@>
                                    <span class="label label-default">6</span>
                                </div>
                            </div>
                            <div class="form-group row row_design">
                                <div class="col-sm-offset-1 col-sm-5">
                                    <label class="control-label">Disbursed :</label>
                                </div>
                                <div class="col-sm-5" @*data-bind="validationElement: Locationlevels"*@>
                                    <span class="label label-default">5000 (BDT)</span>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>


            </div>
        </div>
        <hr />


        <div class="panel">
            <br />
            <div class="panel-body">

                <div class="form-group row row_design">
                    <div id="SectorWiseDisbursement" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                </div>
            </div>
        </div>

        <hr />
        <div class="panel">
            <br />
            <div class="panel-body">

                <div class="form-group row row_design">
                   
                        <div id="AmountDisbursed" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

                </div>

            </div>
        </div>


    </div>

</div>



<script>


    // Build the chart
    Highcharts.chart('SectorWiseDisbursement', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Sector Wise Disbursement'
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{name}: </td>' +
                '<td style="padding:0"><b>{point.y:1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true

        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Scheme Category',
            colorByPoint: true,
            data: [{
                name: 'Agriculture',
                y: 61,
                //sliced: true,
               // selected: true
            }, {
                name: 'Livestock',
                y: 11
            }, {
                name: 'Fisheries',
                y: 10
            }, {
                name: 'Off-Farm',
                y: 4
            }]
        }]
    });

</script>


<script>


    // Build the chart
    Highcharts.chart('AmountDisbursed', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Amount Disbursed'
        },
        //tooltip: {
        //    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        //},

        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{name}: </td>' +
                '<td style="padding:0"><b>{point.y:1f} BDT</b></td></tr>',
            footerFormat: '</table>',
            shared: true

        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Scheme Category',
            colorByPoint: true,
            data: [{
                name: 'Agriculture',
                y: 10000,
                //sliced: true,
                //selected: true
            }, {
                name: 'Livestock',
                y: 30000
            }, {
                name: 'Fisheries',
                y: 10000
            }, {
                name: 'Off-Farm',
                y: 50000
            }]
        }]
    });

</script>


