﻿
@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.ATM.DTO.SchemeInformationDto>
@{
    ViewBag.Title = "SchemeList";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var pageDataJson = jss.Serialize(Model);
    var ThanasJson = jss.Serialize(ViewBag.Thanas);
    var UPsJson = jss.Serialize(ViewBag.UPs);
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/Scheme/SchemeList.js"></script>

<script>
    var pageData = JSON.parse('@Html.Raw(pageDataJson)');
    var ups = JSON.parse('@Html.Raw(UPsJson)');
    var thanas = JSON.parse('@Html.Raw(ThanasJson)');
    var thana = '@ViewBag.Thana'
    var up = '@ViewBag.UP'
    var searchString = '@ViewBag.SearchString'
</script>




<div class="panel-body rm" id="divSchemeListVM">
    <br />

    <div class="panel-body">
        <div class="container-fluid">
            @using (Ajax.BeginForm("SchemeList", "Scheme", null))
    {
                <div class="form-group row row_design">
                    <div class="col-sm-offset-1 col-sm-2">
                        <label class="control-label">Search by Scheme Name<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3" >
                        <input type="text" name="searchString" class="form-control" data-bind="value:SchemeTitle,valueUpdate: 'keyup'" id="searchString" placeholder="Scheme Name" value="@(ViewBag.SearchString ?? String.Empty)" />
                    </div>

                </div>

                <div class="form-group row row_design">
                    <div class="col-sm-offset-1 col-sm-2">
                        <label class="control-label">Search by Thana<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3" >
                        <select type="text" class="form-control" name="locationid" data-bind="options:Thanas, value: Thana, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">Search by UP<span class="required">*</span> :</label>
                    </div>
                    <div class="col-sm-3" >
                        <select type="text" class="form-control" name="up" data-bind="options:UPs, value: UP, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'LocationName'"></select>
                    </div>
                </div>



                <br />
                <div class="form-group row row_design">

                    <div class="col-sm-2 col-sm-offset-10">
                        <button type="submit" class="btn btn-deepgreen" >Search</button>
                    </div>
                </div>
            }
        </div>


        <hr />
        <div class="panel">

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="headcolor">
                            <tr>

                                <th>Scheme Title</th>
                                <th>Location Name</th>
                                <th>Scheme No</th>
                                <th>Budget</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:PageData">
                            <tr>

                                <td class="center" data-bind="text:SchemeTitle"></td>
                                <td class="center" data-bind="text:LocationName"></td>
                                <td class="center" data-bind="text:SchemeNo"></td>
                                <td class="center" data-bind="text:EstimatedBudget"></td>
                                <td class="center">
                                    <button type="button"  class="btn btn-default" data-bind='click: $parent.Edit'>
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pagination-centered">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("SchemeList",
                                                        new
                                                        {
                                                            page,
                                                            sortOrder = ViewBag.CurrentSort,
                                                            searchString = ViewBag.SearchString,
                                                            thana = ViewBag.Thana,
                                                            up = ViewBag.UP,
                                                            currentFilter = ViewBag.CurrentFilter
                                                        }))


                </div>
            </div>
        </div>

        
    </div>
</div>

