﻿
@{
    ViewBag.Title = "SchemeImplementationCRF";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/HouseHold/Intervention.js"></script>

<style>
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .table-responsive {
        overflow: visible !important;
    }

    /*.rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }*/

    span.required {
        color: red;
        /*font-weight: bold;*/
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
        border-color: #155ca8;
        border-bottom: none;
    }
</style>

<div class="container" id="divScheme">
    <ul class="nav nav-tabs nav-justified" role="tablist" style="background-color:#F8F8F8;">
        <li class="active"><a href="#CRFInfo" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> CRF <br />Information</a></li>
        <li><a href="#CRFImplementation" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Implementation <br />Information</a></li>
        <li><a href="#AdaptionCapacityDevelopment" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Adaption Capacity <br />Development</a></li>        

    </ul>


    <div class="tab-content rm">

        <div class="tab-pane fade active in" id="CRFInfo">

            <br />

            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">HH No<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:HouseHoldNo"  value="" readonly/>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">UP<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:UpName"  value="" readonly/>
                        </div>

                    </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Ward<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:WardName" value="" readonly/>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Village<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" data-bind="value:LocationName" value="" readonly/>
                        </div>

                    </div>
                   
                    
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Intervention Name<span class="required">*</span> :</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:InterventionTitle,valueUpdate:'keyup'" placeholder="Type a Name" value="" readonly />
                        </div>
                    </div>
                    
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Intervention Description:</label>
                        </div>

                        <div class="col-sm-8">
                            <textarea class="form-control" data-bind="value:ShortDetails,valueUpdate:'keyup'" placeholder="Describe In Details" readonly></textarea>
                        </div>
                       
                    </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Proposal Reference Number :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:ProposalRefNo,valueUpdate:'keyup'" placeholder="Type a reference number" />
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Estimated Budget <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:EstimatedBudget,valueUpdate:'keyup'" placeholder="Type a value" readonly />
                        </div>
                    </div>
                        <div class="form-group row row_design">
                            <div class="col-sm-offset-1 col-sm-2">
                                <label class="control-label">Intervention Category<span class="required">*</span> :</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" data-bind="value:SchemeCategoryName,valueUpdate:'keyup'" readonly />
                            </div>
                        </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            
                            <label class="control-label">Estimated Cost<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>

                                            <th>Source of Fund</th>
                                            <th>Short Description</th>
                                            <th>Amount (BDT)</th>
                                            
                                        </tr>
                                    </thead>

                                    <tbody data-bind="foreach:InterventionBudgets">
                                        <tr>

                                            <td class="center" data-bind="text:SourceOfFundName"></td>
                                            <td class="center" data-bind="text:Details">@*<textarea class="form-control" data-bind="value:Details"></textarea>*@</td>
                                            <td class="center" data-bind="text:FundAmount"></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>

                    </div>


                    <br />
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Have Capacity to Implement?<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked:IsCapable,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked:IsCapable,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">

                            <label class="control-label">Expected Benifits<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th>Element</th>
                                            <th>Targets</th>
                                            <th>
                                                Acheivement
                                            </th>

                                        </tr>
                                    </thead>

                                    <tbody data-bind="foreach:InterventionBenefits">
                                        <tr>
                                            <td class="center" data-bind="text:ElementTypeName"></td>
                                            <td class="center"><textarea class="form-control" data-bind="value:Expectation"></textarea></td>
                                            <td class="center"><textarea class="form-control" data-bind="value:Benefit"></textarea></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                   

                        <br />
                        <div class="form-group row row_design">

                            <div class="col-sm-2 col-sm-offset-10">
                                <button type="submit" data-bind="click:saveHouseHoldIntervention" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>


            </div>

            <br />
         
        </div>

        <div class="tab-pane fade" id="CRFImplementation">

            <br />
            <div class="panel-body">
                <br />
                <div class="container">

                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                           
                            <label class="control-label">Start Date<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8" style="padding-left: 15px; padding-right: 15px;">

                            <div class="input-group">
                                <input type="text" id="fromDateField" data-bind="datepicker:InterventionImplementation.StartDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                                <input type="hidden" name="fromDate" id="fromDate" @*value="@ViewBag.FromDateText"*@ />
                                <span class="help-block" style="display: none;"></span>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <br/>

                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Actual Cost<span class="required">*</span> :</label>
                        </div>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:InterventionImplementation.ActualCost,valueUpdate:'keyup'" placeholder="Type a cost value" readonly/>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Project Grants<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:InterventionImplementation.CRFGrant,valueUpdate:'keyup'" placeholder="Type a value" readonly/>
                        </div>
                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Own Contribution <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:InterventionImplementation.OwnContribution,valueUpdate:'keyup'" placeholder="Type a value" readonly />
                        </div>
                    </div>
                   
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">

                            <label class="control-label">Expenditure<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th>Sources</th>
                                            <th>Actual Cost</th>
                                            <th>Date</th>
                                            <th>
                                                <a class="plus" href="#" data-bind='click: addExpense'>
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </th>

                                        </tr>
                                    </thead>

                                    <tbody data-bind="foreach:InterventionExpenses">
                                        <tr>
                                            <td class="center">
                                                <select type="text" class="form-control" data-bind="options:$parent.SourceOfFunds, value:SourceId, optionsCaption:'Select Source', optionsValue:'Id', optionsText: 'SourceName'"></select>
                                            </td>
                                            <td class="center"><input type="text" data-bind="value:CostAmount,valueUpdate:'keyup'" class="form-control" /></td>
                                            <td class="center">
                                                <div class="input-group">
                                                    <input type="text" id="costDateField" data-bind="datepicker:CostDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                                                    <input type="hidden" id="costDates" />
                                                    <span class="help-block" style="display: none;"></span>
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="plus" href="#" data-bind="click: $parent.addExpense"><span class="glyphicon glyphicon-plus"></span></a>
                                                <a class="minus" href="#" data-bind="click: $parent.removeExpense"><span class="glyphicon glyphicon-minus"></span></a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Implemented By <span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" data-bind="value:InterventionImplementation.ImplementedBy,valueUpdate:'keyup'" placeholder="Type a value"  />
                        </div>
                    </div>


                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" data-bind="click:saveImplementation" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>      

        <div class="tab-pane fade" id="AdaptionCapacityDevelopment">

            <br />

            <div class="panel-body">
                <br />
                <div class="container">
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">
                            <label class="control-label">Got any Training to Implement?<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked:AdaptionCapacityDevelopment.GotAnyTraining,value:true"> Yes</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="radio-inline"><input type="radio" name="optradio" data-bind="checked:AdaptionCapacityDevelopment.GotAnyTraining,value:false"> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row row_design">
                        <div class="col-sm-offset-1 col-sm-2">

                            <label class="control-label">Trainings<span class="required">*</span> :</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-margin">
                                    <thead class="headcolor">
                                        <tr>
                                            <th>Name of Training</th>
                                            <th>Duration(Hours)</th>
                                            <th>Provided By</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>
                                                <a class="plus" href="#" data-bind='click: addTraining'>
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </th>

                                        </tr>
                                    </thead>

                                    <tbody data-bind="foreach:InterventionTrainings">
                                        <tr>
                                            <td class="center"><input type="text" data-bind="value:TrainingName,valueUpdate:'keyup'" class="form-control" /></td>
                                            <td class="center"><input type="text" data-bind="value:Duration,valueUpdate:'keyup'" class="form-control" /></td>
                                            <td class="center"><input type="text" data-bind="value:ProvidedBy,valueUpdate:'keyup'" class="form-control" /></td>
                                            <td class="center">
                                                <div class="input-group">
                                                    <input type="text" id="tstartDateField" data-bind="datepicker:StartDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                                                    <input type="hidden" name="fromDate" id="tstartDates" />
                                                    <span class="help-block" style="display: none;"></span>
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="center">
                                                <div class="input-group">
                                                    <input type="text" id="tendDateField" data-bind="datepicker:EndDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                                                    <input type="hidden" name="fromDate" id="tendDates" />
                                                    <span class="help-block" style="display: none;"></span>
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="plus" href="#" data-bind="click: $parent.addTraining"><span class="glyphicon glyphicon-plus"></span></a>
                                                <a class="minus" href="#" data-bind="click: $parent.removeTraining"><span class="glyphicon glyphicon-minus"></span></a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                    <br />
                    <div class="form-group row row_design">

                        <div class="col-sm-2 col-sm-offset-10">
                            <button type="submit" data-bind="click:saveACD" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

    </div>


    <!--Start modal body>-->
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>

                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

