﻿<style type="text/css">
    .ui-jqgrid .ui-jqgrid-bdiv {
        overflow-y: scroll;
    }
</style>
<script src="~/Areas/Auth/Scripts/validate.js"></script>
<script src="~/Areas/Auth/Scripts/submodule.js"></script>
@{
    ViewBag.Title = "Submodule Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

@*<h2>@ViewBag.Title</h2>*@

<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div> 
