﻿
@{
    ViewBag.Title = "Risk Statement";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/ATM/Scripts/RiskStatement/RiskStatement.js"></script>

<div class="panel-body rm" id="divRisk">
    <br />
    <div class="container-fluid">
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Up<span class="required">*</span> :</label>
            </div>

            <div class="col-sm-6" data-bind="validationElement: ParentLocationId">
                <select type="text" class="form-control" data-bind="options:ParentLocations, value:ParentLocationId, optionsCaption:'Select UP', optionsValue:'Id', optionsText: 'LocationName'"></select>
            </div>
        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Element<span class="required">*</span> :</label>
            </div>
            <div class="col-sm-6" data-bind="validationElement: ElementId">
                <select type="text" class="form-control" data-bind="options:Elements, value:ElementId, optionsCaption:'Select Element', optionsValue:'ElementId', optionsText: 'ElementName'"></select>
            </div>

        </div>
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Ward<span class="required"></span> :</label>
            </div>
            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:Locations, value:SpecificAreaId, optionsCaption:'Select Ward', optionsValue:'Id', optionsText: 'LocationName'" disabled ></select>
            </div>

        </div>
        

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Affected By<span class="required"></span> :</label>
            </div>

            <div class="col-sm-6">
                <select type="text" class="form-control" data-bind="options:Hazards, value:HazardId, optionsCaption:'Select Hazard', optionsValue:'Id', optionsText: 'Name'" disabled></select>
            </div>
        </div>

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Affected Period :</label>
            </div>

            <div class="col-sm-6">
                <input type="text" class="form-control" data-bind="value:AfftectedPeriod,valueUpdate: 'keyup'" readonly placeholder="Type Month Name" />
            </div>
        </div>

        

        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Statement :</label>
            </div>

            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value:Statement,valueUpdate: 'keyup'" placeholder="Type In Details"></textarea>

            </div>
        </div>
        
        <div class="form-group row row_design">
            <div class="col-sm-offset-2 col-sm-2">
                <label class="control-label">Consequences :</label>
            </div>

            <div class="col-sm-6">
                <textarea class="form-control" data-bind="value:Consequences,valueUpdate: 'keyup'" placeholder="Type In Details"></textarea>

            </div>
        </div>
        <br />
        <div class="form-group row row_design">

            <div class="col-sm-2 col-sm-offset-9">
                <button type="submit" class="btn btn-success" data-bind="enable: IsValid" data-toggle="modal" data-target="#myModal">Submit</button>
            </div>
        </div>
        <div class="form-group">
            <div id="successModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Response</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <p id="successModalText"></p>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <p>Do you want to add this Risk Statement?</p>
                            <button data-bind="click: SaveData" class="btn btn-success" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <hr />

       
            @*<div class="form-group">
                <h4>Export Report</h4>


                <a target="_blank" data-bind="attr: { href: Link1, title1: 'PDF' }">PDF</a>
                <a target="_blank" data-bind="attr: { href: Link2, title2: 'Excel' }">Excel</a>
                <a target="_blank" data-bind="attr: { href: Link3, title3: 'Word' }">Word</a>

            </div>
            <br />*@
            <div class="panel">
                <div class="panel-heading">
                    <header>Risk Statement List</header>
                </div>
                 


                <div class="panel-body">
                    <div class="form-group row row_design">
                        <div class="col-sm-offset-11 col-sm-1">
                            <button type="button" title="Print Report" target="_blank" data-bind="click:PrintResult">
                                <span class="glyphicon glyphicon-print"></span>
                            </button>
                           
                            </div>
                        </div>
                            <br />
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="headcolor">
                                        <tr>
                                            <th>Element</th>
                                            <th>Specific Location</th>
                                            <th>Hazard</th>
                                            <th>Afftected Period</th>
                                            <th>Statement</th>
                                            <th>Consequences</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:Statements">
                                        <tr>
                                            <td class="center" data-bind="text: ElementName"></td>
                                            <td class="center" data-bind="text: SpecificAreaName"></td>
                                            <td class="center" data-bind="text: HazardName"></td>
                                            <td class="center" data-bind="text: AfftectedPeriod"></td>
                                            <td class="center" data-bind="text: Statement"></td>
                                            <td class="center" data-bind="text: Consequences"></td>
                                            <td class="center">
                                                <button type="button" title="Edit" data-bind="click:$parent.EditData">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                               
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
</div>